h3.protein 
  span.midashi.midashi_lightblue 栄養成分表示
p １食（<?php the_field('per1'); ?>）gあたり
table.table_yoko 
  tr
    th.flavor フレーバー
    th カロリー
    th タンパク質
    th 脂質
    th 炭水化物
  tr
    th.flavor  みかん
    td
    td
    td
    td
  tr
    th.flavor  ぶどう
    td.td_center ◯
    td.td_center ✗
    td.td_center ◯
    td.td_center ◯
    td.td_center ✗
h3.protein 
  span.midashi.midashi_lightblue サイズ展開
table.table_yoko 
  tr
    th フレーバー
    th g袋パッケージ
    th gボトル
    th 
    th 
    th 
    th 
  tr 
    th 
    td.td_center 
    td.td_center ◯
    td.td_center ✗
    td.td_center ◯
    td.td_center ✗
h3.protein 
  span.midashi.midashi_lightblue 価格比較
table.table_yoko 
  tr
    th サイズ
    th 価格
    th 1gあたりの価格
  tr
    th 907g
    td ¥6,280
    td ¥<?php echo round(6280/907,2);?>