<?php /** Template Name:GYM */ get_header(); ?>
main
  article
    section
      .container
          <?php if ( have_posts() ) : ?>
          <?php while ( have_posts() ) : the_post(); ?>
          h1.gymp <?php the_title(); ?>
          div.page_inner <?php the_content();?>
          <?php endwhile; //繰り返し処理終了 ?>
          <?php else : //投稿がない場合 ?> 記事が見つかりません。
          <?php endif; //条件分岐終了 ?>
<?php get_footer(); ?>