<?php get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1.gym <?php echo get_the_title(); ?>
        div <?php while ( have_posts() ) : the_post(); ?>
            <?php the_content(); ?>
            <?php endwhile; ?>
    section 
block append bodyScript
<?php get_footer(); ?>