<?php get_header(); ?>
block pageContent
  article
    section
      .container 
        .gymmain-waku
          div.gymbrand-waku
            div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
            h1 <?php single_term_title(); ?>を選ぶ理由・メリット・デメリットを解説
            div.post-thumbnail.imgcenter
              img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/chocozap/chocozap1.webp" alt="chocoZAPを選ぶ理由")
            div 
              p chocoZAP（チョコザップ）は、月額2,980円（税込3,278円）で通える24時間営業のトレーニングジムです。
              p 運営しているのはパーソナルジムのRIZAP。大手RIZAPグループが運営しているジムですので、ご安心ください。
              p 月の費用が安く、24時間利用できるので、ジムやトレーニングには興味はあるけど、パーソナルトレーニングは高いし、自宅にトレーニングするスペースがないし、他のジムは高いし、行きたい時間に開いていないというような方にピッタリのジムです。
              p トレーニングだけでなく、セルフエステマシン、セルフ脱毛マシンも完備されています。他にも魅力的なサービスがいくつもあります。
              p ここでは具体的にchocoZAPはどのようなジムなのか？料金やトレーニング以外の部分も含めて、解説していきます。
            div.brandtoc#menu 目次
              ul
                li
                  a(href="#reason") chocoZAPを選ぶ理由
                li 
                  a(href="#merit") chocoZAPを選ぶメリット
                li 
                  a(href="#demerit") chocoZAPを選ぶデメリット
                li 
                  a(href="#recommend") chocoZAPがおすすめな人
                li 
                  a(href="#shoplist") chocoZAPの店舗一覧
            h2.gym-brand#reason chocoZAPを選ぶ理由
            div 
              h3.gym-brand 料金が安い＆２４時間　３６５日利用可能
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/chocozap/chocozap2.webp" alt="安くて便利コンビニジム")
              div
                p chocoZAPの最大の特徴の一つは、料金です。なんと月額2,980円（税込3,278円）！とても安く設定されています。
                p 一般的な24時間開いているジムの料金は月額8,000円以上が相場です。chocoZAPはその半額以下で利用できるとてもリーズナブルなトレーニングジムです。
                p 月額3,278円ということは、月に30日換算で１日あたり約110円です。
                p 毎日何気なく買ってしまっているデザートやアイス、お菓子を我慢する金額と同じ位の方も多いのかもしれませんね。
                p 初期費用として5,000円が別途必要になります。（内訳 入会金3,000円＋事務手数料2,000円）
                p 一部店舗は24時間ではなく、営業時間が決まっている店舗もあります。chocoZAPが入っているビルや建物の開いている時間によって決められているところもあるようです。
              div
                p chocoZAPは24時間365日開いています。
                p 大手のジムは必ず月に数回休館日が設けられています。毎月決まった日だったり、曜日だったりで使えない日があります。
                p 休館日を把握していないで、ジムに行ってしまうととても残念な気持ちになって一気にやる気が失われてしまいます。
                p chocoZAPはそんな心配はありません、24時間365日開いているので、いついっても使用できます。
                p 少し確認が必要なのが、一部店舗は24時間ではなく、営業時間が決まっている店舗もあります。chocoZAPが入っているビルや建物の開いている時間によって決められているところもあるようです。
                p ジムを利用するには、アプリが必要になります。アプリが鍵のかわりになります。鍵やカードが増えずに利用できるのは、とてもスマートですね。
              h3.gym-brand 個室でセルフエステマシン＆セルフ脱毛器が使える
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/chocozap/chocozap3.webp" alt="セルフエステ＆セルフ脱毛")
              div 
                p chocoZAPには、セルフエステマシン、セルフ脱毛器が設置されています。（設置されていない店舗もありますので、事前に公式HPなどでご確認ください。）
                p セルフエステマシンは大手サロンでも道入されているプロ仕様のエステマシンが使い放題です。
                p プロ仕様の機械ですが、操作はむずかしくなく以下の流れです。 （chocoZAPの公式HP使い方の動画が掲載されています）
              div.brandmain-flow.ultitle セルフエステマシンの使い方
                ul.flow
                  li.flow-item
                    span STEP1</span> 電源を入れる
                  li.flow-item
                    span STEP2</span> FACE・BODYを選択
                  li.flow-item
                    span STEP3</span> ジェルを塗る（ジェルは店舗に常備されています）
                  li.flow-item
                    span STEP4</span> 温度を調整
                  li.flow-item
                    span STEP5</span> 体に当てる
                  li.flow-item
                    span STEP6</span> 終わったら綺麗に拭き取る
              div
                p 使用する場所は個室になっているので、誰かに見られることはありません。
                p 行っても誰かが使っていたら使えないと心配な方も安心してください。利用にはアプリからの予約が必要ですので、行ってから使えなかったということにはなりません。
                p 「1枠20分、最大2枠連続まで」となっていますので、多くの方が利用できるように配慮されています。
              div  
                p セルフ脱毛器もサロンで使用されているIPL脱毛を採用した本格的なもので、痛みを軽減してくれて、ムラがなく照射できるタイプが道入されています。
                p 照射面積が広いタイプなので、バラつきがなく、均一に照射されます。
                p 5段階のパワー調整が可能で、W冷却機能で熱による痛みを最小限にしてくれます。
                p プロ仕様の機械ですが、操作はむずかしくなく以下の流れです。 （chocoZAPの公式HP使い方の動画が掲載されています）
              div.brandmain-flow
                ul.flow.ultitle セルフ脱毛器の使い方
                  li.flow-item
                    span STEP1</span>前日に自己処理を行っておく
                  li.flow-item
                    span STEP2</span> メガネをかける
                  li.flow-item
                    span STEP3</span> ジェルを塗る
                  li.flow-item
                    span STEP4</span> 機械をあてる
                  li.flow-item
                    span STEP5</span> 終わったら綺麗に拭き取る
              div
                p セルフ脱毛器も個室での利用になりますので、誰かに見られることはありません。
                p アプリからの予約が必要で、1枠20分、最大2枠連続までというところは、セルフエステマシンと同じです。
                p 機械が設置されている個室にもマシンの使用方法は掲示されていますし、公式HPやchocoZAPのアプリにも掲載されているので、安心して利用できます。
            h2.gym-brand#merit chocoZAPを選ぶメリット
              h3.gym-brand 入会後すぐに利用できる
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/chocozap/chocozap4.webp" alt="最短３分で入会完了")
              div 
                p 入会手続きをスマホやネットで済ませて、アプリをダウンロードすれば、最短３分で利用できます。
                p 思い立ったが吉日、すぐに利用したい方にはピッタリです。
                p 24時間営業のジムでも、入会手続きはスタッフがいる曜日や時間にあわせて行かなければいけないところが多いです。
                p chocoZAPはそんな必要はありません。スマホがあれば、どこでも入会手続きができ手続き完了後すぐに利用できます。
              h3.gym-brand スターターキット（体組成計・ヘルスウォッチ）がもらえる
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/chocozap/chocozap5.webp" alt="スターターキットがもらえる")
              div 
                p chocoZAPに入会すると、体組成計とヘルスウォッチがもらえます。chocoZAP専用アプリでそれらの数値を確認して減ったか増えたか？どれくらいのペースで変わっているのかがわかるようになります。
                p ダイエットや運動は継続するのが一番難しいので、変化を数字で把握することで、モチベーションに繋がり継続することができます。
                p 体組成計で計測できる項目は以下になります。
              div.brandmain-nomal
                ul 
                  li 体重
                  li BMI 
                  li 体脂肪率
                  li 基礎代謝
                  li 肥満度
                  li 内臓脂肪レベル
                  li 体水分率
                  li 筋肉量
                  li 骨量
                  li タンパク質
                  li 体内年齢
                  li 除脂肪体重
              div
                p 体組成計はアプリと連携しているので、アプリに記録されていきます。日々の推移や努力の結果が数字で見れることで、やる気が継続できるようになります。
                p ヘルスウォッチは太陽面温度と心拍数がアプリと連動しています。その他にも計測できる項目や機能が満載です。
              h3.gym-brand 全国のchocoZAPが利用できる
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/chocozap/chocozap6.webp" alt="全国全店舗利用可能")
              div 
                p chocoZAPに入会すると、全国にあるどのchocoZAPも利用できるようになります。
                p 自宅の近くだけでなく、会社の近く、保育園や学校の近くなど、自分が使いやすい時に使いやすい場所のchocoZAPを利用できます。
                p 日常だけでなく、旅行先や出張先でも利用できるので、運動がルーティンになっている方でも、そのルーティンを維持しやすいのは大きなメリットです。
              h3.gym-brand アプリが優秀！トレーニングマシンの解説から食事アドバイスまで
              div 
                p ジムに行ってもトレーニングマシンをどうやって使ったらいいかわからない。
                p 誰か教えてくれないと不安という方でも、大丈夫です。
                p chocoZAPのアプリにトレーニングマシンの使い方を解説している動画がたくさん用意されています。
                p 食事に関するアドバイスや健康に関する動画、ジムに行けなかった日に自宅でできるエクササイズ動画と幅広く用意されています。
                p chocoZAPはダイエットのパーソナルトレーニングで同じみのRIPZAPが運営しているジムですので、トレーニング、食事アドバイスには実績が十分です。
                p 安心して取り組んでいきましょう！
            h2.gym-brand#demerit chocoZAPを選ぶデメリット
              h3.gym-brand スタッフが不在
              div 
                p chocoZAPの店舗には基本的にスタッフが常駐していません。全店舗無人営業です。
                p イベントなどがある場合に、スタッフの方がいることもありますが、基本的には、スタッフの方は誰もいません。スタッフの人との交流や会話も楽しみたい方には、向いていないかもしれません。
                p 無人ではありますが、週２回以上清掃はされていますので、店舗は清潔にされています。
              h3.gym-brand シャワーや契約ロッカーがない
              div 
                p chocoZAPにはシャワーはありません。更衣室は多くの店舗であります。また、荷物を預けておく月極の契約ロッカーはありません。
                p トレーニングをしている間、荷物を置いておくオープンロッカーはありますが、鍵をかけて自分専用で利用するロッカーはありません。
                p chocoZAPは気軽に、そのままで服装で運動できることがコンセプトなので、シャワーや契約ロッカーが用意されていません。
            h2.gym-brand#recommend chocoZAPがおすすめな人
            div 
              p chocoZAPはこんな方におすすめです。
              div.brandmain-nomal
                ul
                  li 運動不足を解消したい方
                  li 本格的なトレーニングは必要ないけど、ちょっと身体を動かしたい方
                  li セルフエステマシンやセルフ脱毛器を使ってみたい方
                  li 家や職場、学校など自分の生活環境の近くにchocoZAPがある方
                  li 早朝や深夜にジムを利用したい方
              p 上記のどれかに当てはまる方には、chocoZAPが向いているかもしれません。
              p セルフエステマシンやセルフ脱毛器に利用を検討されている方は、設備がない店舗もありますので、事前に確認しておいてください。
              p 店舗の見学はできないですが、店舗のページを確認すれば、エステマシンや脱毛機の有無、トレーニングマシンの種類と台数、その他設備について記載がありますので、メインで利用しようと考えている店舗は事前に確認しておきましょう。
              h2.gym-brand#shoplist <?php single_term_title(); ?>店舗一覧<?php if(have_posts()): ?><?php while(have_posts()): the_post(); ?>
              div.gymlist-caset
                div.gymlist-name
                  a(href!= "<?php the_permalink(); ?>") <?php the_field('gym_name'); ?>
                div 住所：<?php the_field('address'); ?>
                div アクセス:<?php the_field('access'); ?>
              <?php endwhile;?>
              <?php endif;?>
            div <?php get_template_part('functions/pagenation'); ?>  
<?php get_footer(); ?>