<?php get_header(); ?>
block pageContent
  article
    section
      .container 
        .main-waku
          div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
          h1.eriah1 <?php single_term_title(); ?>のフィットネスジム・トレーニングジム
          div.seacheria
            div.eriacity <i class="fa-solid fa-magnifying-glass"></i>都道府県から探す<br>都道府県を選択すると市区町村を選択できる画面に移動します。
              ul.area
                <?php  $current_term = get_query_var('gym_area'); $term_object = get_queried_object($post->ID, $current_term); $parent_term_id = $term_object->parent == 0 ? $term_object->term_id : $term_object->parent; $parent_term = get_term($parent_term_id); $all_terms = get_terms('gym_area'); $child_term_ids = array(); foreach($all_terms as $term) { if($term->parent == $parent_term_id) { array_push($child_term_ids, $term->term_id); } } foreach ($child_term_ids as $child_term_id) {  echo '<li>'; echo '<a href="' . home_url() . '/gym-area/' . get_term($child_term_id, 'gym_area')->slug . '">'; print_r(get_term($child_term_id, 'gym_area')->name); echo '</a></li>';} ?>
            <?php if(have_posts()): ?><?php while(have_posts()): the_post(); ?>
          div.gymlist-waku
            div.gymlist-gymkind
              ul
                <?php foreach(get_field('gym_kind')as $data):?>
                li <?php echo $data;?>
                <?php endforeach;?>
            div.gymlist-caset
              div.gymlist-name
                a(href!= "<?php the_permalink(); ?>") <?php the_field('gym_name'); ?>
              div 住所：<?php the_field('address'); ?>
              div アクセス:<?php the_field('access'); ?>
            div.setsubi
              ul <?php foreach(get_field('facility')as $data):?>
                li <?php echo $data;?>
                <?php endforeach;?>
            div.gymlist-detail
              div.detailthum
                <?php if(get_field('gym_photo01')):?>
                img(src!="<?php the_field('gym_photo01'); ?>" alt!="<?php the_field('gym_name'); ?>の外観")
                <?php endif; ?>
              div.detailpoint-waku
                ul.recpoint <?php if (!empty(get_field('point1_title'))) :?>
                  li <?php the_field('point1_title'); ?><?php endif; ?>
                    <?php if (!empty(get_field('point2_title'))) :?>
                  li <?php the_field('point2_title'); ?><?php endif; ?>
                    <?php if (!empty(get_field('point3_title'))) :?>
                  li <?php the_field('point3_title'); ?><?php endif; ?> 
              <?php if (!empty(get_field('aflink'))) :?>
            div.gymlist-bottum
              button.btn2.btn2-blue
                a(href!= "<?php the_field('aflink'); ?>") 見学やお申込みはこちらから
              button.btn2.btn2-orange
                a(href!= "<?php the_field('aflink'); ?>") 公式サイトでもっと詳しく
              <?php endif; ?>
            <?php endwhile;?>
            <?php endif;?>  
          div <?php get_template_part('functions/pagenation'); ?>
<?php get_footer(); ?>