h3.protein 
  span.midashi.midashi_lightblue 栄養成分表示
p 1食30gあたり（分析値）
div.table-wrap
  table.table_yoko 
    tr
      th.flavor フレーバー
      th カロリー（kcal）
      th タンパク質（g）
      th 脂質（g）
      th 炭水化物（g）
    tr
      th.flavor  抹茶
      td 100
      td 15.4
      td 1.4
      td 10.6
    tr
      th.flavor  黒糖きな粉
      td 101
      td 15.2
      td 1.2
      td 11.2
.accordion
  .accordion-container
    .accordion-item
      .accordion-title.js-accordion-title 黒糖きな粉 栄養成分表示の詳細
      .accordion-content
        table
          tr 
            th 食塩相当量
            td 0.4g
          tr 
            th ビタミンC
            td 51mg
          tr 
            th ナイアシン
            td 8.0mg
          tr 
            th ビタミンE
            td 3.5mg
          tr 
            th ビタミンB2
            td 1.0mg
          tr 
            th ビタミンB1
            td 0.8mg
          tr 
            th ビタミンB6
            td 0.8mg
          tr 
            th ビタミンA 
            td 615ug
          tr 
            th ビタミンK 
            td 57ug
          tr 
            th ビタミンD 
            td 3.6ug
          tr 
            th ビタミンB12
            td 1.7ug
          tr 
            th 葉酸
            td 138ug
          tr 
            th パントテン酸
            td 2.5mg
          tr 
            th 鉄
            td 6.0mg
          tr 
            th 亜鉛
            td 4.5mg
          tr 
            th マンガン
            td 1.7mg
          tr 
            th 銅
            td 0.9mg
          tr 
            th ヨウ素
            td 72ug
          tr 
            th セレン
            td 18ug
          tr 
            th クロム
            td 17ug
          tr 
            th モリブデン
            td 44ug
    .accordion-item
      .accordion-title.js-accordion-title 抹茶　栄養成分表示の詳細
      .accordion-content
        table
          tr 
            th 食塩相当量
            td 8.5g
          tr 
            th ビタミンC
            td 54mg
          tr 
            th ナイアシン
            td 9.0mg
          tr 
            th ビタミンE
            td 4.6mg
          tr 
            th ビタミンB2
            td 0.9mg
          tr 
            th ビタミンB1
            td 0.8mg
          tr 
            th ビタミンB6
            td 0.9mg
          tr 
            th ビタミンA 
            td 493ug
          tr 
            th ビタミンK 
            td 54ug
          tr 
            th ビタミンD 
            td 4.2ug
          tr 
            th ビタミンB12
            td 1.3ug
          tr 
            th 葉酸
            td 183ug
          tr 
            th パントテン酸
            td 2.9mg
          tr 
            th 鉄
            td 6.3mg
          tr 
            th 亜鉛
            td 4.5mg
          tr 
            th マンガン
            td 4.2mg
          tr 
            th 銅
            td 0.9mg
          tr 
            th ヨウ素
            td 72ug
          tr 
            th セレン
            td 18ug
          tr 
            th クロム
            td 15ug
          tr 
            th モリブデン
            td 39ug
p 表示内容は公式サイトから抜粋
h3.protein 
  span.midashi.midashi_lightblue サイズ展開
div.table-wrap  
  table.table_yoko 
    tr
      th フレーバー
      th 500g 袋パッケージ（ジッパー付き）
      th 1kg 袋パッケージ（ジッパー付き）
    tr 
      th 抹茶
      td.td_center ◯
      td.td_center ◯
    tr 
      th 黒糖きな粉
      td.td_center ◯
      td.td_center ◯
p 品揃えが変わっている可能性もございますので、詳細な最新情報は公式サイトをご確認ください。
h3.protein 
  span.midashi.midashi_lightblue 価格比較
p 公式サイトの価格で作成
div.table-wrap
  table.table_yoko 
    tr
      th サイズ
      th 価格
      th 食数（1食あたり約30gで計算）
      th 1gあたりの価格
      th 1食あたりの価格
    tr
      th 500g
      td ¥4,980
      td 約16食分
      td ¥<?php echo round(4980/500,2);?>
      td ¥<?php echo round(4980/16,2);?>
    tr
      th 1kg
      td ¥7,980
      td 約33食分
      td ¥<?php echo round(7980/1000,2);?>
      td ¥<?php echo round(7980/33,2);?>
p 公式サイトの価格で作成、詳細な最新情報は公式サイトをご確認ください。