h3.protein 
  span.midashi.midashi_lightblue 栄養成分表示
p １食あたり
div.table-wrap
  table.table_yoko 
    tr
      th.flavor フレーバー
      th カロリー（kcal）
      th タンパク質（g）
      th 脂質（g）
      th 炭水化物（g）
    tr
      th.flavor  チョコミント-WPC
      td 122
      td 21.3
      td 1.7
      td 4.3
    tr
      th.flavor  チロルチョコ-WPC
      td 120
      td 21.2
      td 1.3
      td 4.8
    tr
      th.flavor  メロン-WPC
      td 117
      td 21.3
      td 1.0
      td 4.9
    tr
      th.flavor  バナナ-WPC
      td 119
      td 21.2
      td 1.1
      td 5.1
    tr
      th.flavor  キャラメルラテ-WPC
      td 122
      td 21.2
      td 1.7
      td 4.4
    tr
      th.flavor  トロピカル-WPI
      td 109
      td 25.1
      td 0.3
      td 1.8
    tr
      th.flavor  マンゴー-WPI
      td 113
      td 25.5
      td 0.3
      td 2.3
    tr
      th.flavor  いちご-WPI
      td 115
      td 25.7
      td 0.6
      td 1.8
    tr
      th.flavor  アロエヨーグルト-WPI
      td 114
      td 25.2
      td 0.4
      td 2.6
    tr
      th.flavor  チョコレート-WPI
      td 115
      td 25.8
      td 0.7
      td 1.6
p 表示内容は公式サイトから抜粋
h3.protein 
  span.midashi.midashi_lightblue サイズ展開
p LYFTのプロテインはどのフレーバーも900gサイズでの販売です。
p 品揃えが変わっている可能性もございますので、詳細な最新情報は公式サイトをご確認ください。
h3.protein 
  span.midashi.midashi_lightblue 価格比較
p 公式サイトの価格で作成
div.table-wrap
  table.table_yoko 
    tr
      th プロテインの種類
      th 価格
      th 食数（1食あたり約30gで計算）
      th 1gあたりの価格
      th 1食あたりの価格
    tr
      th チョコミント・チロルチョコ・メロン・バナナ・キャラメルラテ（WPC）900g
      td ¥4,980
      td 約30食分
      td ¥<?php echo round(4980/900,2);?>
      td ¥<?php echo round(4980/30,2);?>
    tr
      th トロピカル・マンゴー・いちご・アロエヨーグルト・チョコレート（WPI）900g
      td ¥6,480
      td 約30食分
      td ¥<?php echo round(6480/900,2);?>
      td ¥<?php echo round(6480/30,2);?>
p 公式サイトの価格で作成、セールなど詳細な最新情報は公式サイトをご確認ください。