h3.protein 
  span.midashi.midashi_lightblue 栄養成分表示
p １食あたり
div.table-wrap
  table.table_yoko 
    tr
      th.flavor フレーバー
      th カロリー（kcal）
      th タンパク質（g）
      th 脂質（g）
      th 炭水化物（g）
    tr
      th.flavor  ダブルリッチチョコレート
      td 119
      td 24
      td 1
      td 3
    tr
      th.flavor  エクストリームミルクチョコレート
      td 127
      td 24
      td 1.5
      td 4
    tr
      th.flavor  クッキー＆クリーム
      td 123
      td 24
      td 1
      td 4
    tr
      th.flavor  チョコミント
      td 119
      td 24
      td 1
      td 3
    tr
      th.flavor  チョコレートココナッツ
      td 123
      td 24
      td 1
      td 4
    tr
      th.flavor  チョコレートモルト
      td 119
      td 24
      td 1
      td 3
    tr
      th.flavor  デリシャスストロベリー
      td 119
      td 24
      td 1
      td 3
    tr
      th.flavor  バナナクリーム
      td 123
      td 24
      td 1
      td 4
    tr
      th.flavor  バニラアイスクリーム
      td 123
      td 24
      td 1
      td 4
    tr
      th.flavor  フレンチバニラ
      td 110
      td 24
      td 1
      td 2
    tr
      th.flavor  モカカプチーノ
      td 123
      td 24
      td 1
      td 3
    tr
      th.flavor  塩キャラメル
      td 119
      td 24
      td 1
      td 3
p 表示内容は公式サイトから抜粋
h3.protein 
  span.midashi.midashi_lightblue サイズ展開
div.table-wrap
  table.table_yoko 
    tr
      th フレーバー
      th 454g 袋パッケージ（ジッパー付き）
      th 907g ボトル
      th 2.27kg ボトル
      th 4.54kg 袋パッケージ（ジッパー付き）
    tr 
      th ダブルリッチチョコレート
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
    tr 
      th エクストリームミルクチョコレート
      td.td_center ✗
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
    tr 
      th クッキー＆クリーム
      td.td_center ✗
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
    tr 
      th チョコミント
      td.td_center ✗
      td.td_center ✗
      td.td_center ◯
      td.td_center ✗
    tr 
      th チョコレートココナッツ
      td.td_center ✗
      td.td_center ✗
      td.td_center ◯
      td.td_center ✗
    tr 
      th チョコレートモルト
      td.td_center ✗
      td.td_center ✗
      td.td_center ◯
      td.td_center ✗
    tr 
      th デリシャスストロベリー
      td.td_center ✗
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
    tr 
      th バナナクリーム
      td.td_center ✗
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
    tr 
      th バニラアイスクリーム
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
      td.td_center ◯
    tr 
      th フレンチバニラ
      td.td_center ✗
      td.td_center ◯
      td.td_center ◯
      td.td_center ✗
    tr 
      th モカカプチーノ
      td.td_center ✗
      td.td_center ✗
      td.td_center ◯
      td.td_center ✗
    tr 
      th 塩キャラメル
      td.td_center ✗
      td.td_center ✗
      td.td_center ◯
      td.td_center ✗
p 品揃えが変わっている可能性もございますので、詳細な最新情報は公式サイトをご確認ください。
h3.protein 
  span.midashi.midashi_lightblue 価格比較
p 公式サイトの価格で作成
div.table-wrap
  table.table_yoko 
    tr
      th サイズ
      th 価格
      th 食数（1食あたり約30gで計算）
      th 1gあたりの価格
      th 1食あたりの価格
    tr
      th 454g
      td ¥4,280
      td 約15食分
      td ¥<?php echo round(4280/454,2);?>
      td ¥<?php echo round(4280/15,2);?>
    tr
      th 907g
      td ¥6,280
      td 約30食分
      td ¥<?php echo round(6280/907,2);?>
      td ¥<?php echo round(6280/30,2);?>
    tr
      th 2.27kg
      td ¥12,800
      td 約75食分
      td ¥<?php echo round(12800/2270,2);?>
      td ¥<?php echo round(12800/75,2);?>
    tr
      th 4.54kg
      td ¥19,800
      td 約150食分
      td ¥<?php echo round(19800/4540,2);?>
      td ¥<?php echo round(19800/150,2);?>
p 公式サイトの価格で作成、詳細な最新情報は公式サイトをご確認ください。