<?php /** * Template Name: protein *//** * Template Post Type: post,protein_info */  get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1 <?php echo get_the_title(); ?>
        div.itemtitle  プロテインの種類
          div.itembox.itembox_blue
            ul
              li <?php $terms = get_the_terms($post->ID, 'protein_type'); foreach($terms as $term): echo $term->name; ?> <?php endforeach;?>
        div.itemtitle プロテインのブランド
          div.itembox.itembox_darkblue
            ul
              li <?php $terms = get_the_terms($post->ID, 'protein_brand'); foreach($terms as $term): echo $term->name; ?> <?php endforeach;?>
        div.itemtitle フレーバーの種類
          div.itembox.itembox_border
            ul
              <?php $terms = get_the_terms($post->ID, 'protein_flavor'); foreach($terms as $term): { echo '<li>'; echo $term->name; echo '</li>';}?> <?php endforeach;?>
        p.flex-center-center パッケージ画像
        <?php the_field('link'); ?>
        div.slideshow-protein
          div#slideshow-image
            img(src!= "<?php if (!empty(get_field('photo01'))) :?><?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo01'); ?>.webp<?php endif; ?>" alt!="<?php the_field('altphoto01'); ?>")
          ul#thumbnail.thumbnail
            li: img(src!= "<?php if (!empty(get_field('photo01'))) :?><?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo01'); ?>.webp<?php endif; ?>" alt!="<?php the_field('altphoto01'); ?>")
            <?php if (!empty(get_field('photo02'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo02'); ?>.webp" alt!="<?php the_field('altphoto02'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo03'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo03'); ?>.webp" alt!="<?php the_field('altphoto03'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo04'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo04'); ?>.webp" alt!="<?php the_field('altphoto04'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo05'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo05'); ?>.webp" alt!="<?php the_field('altphoto05'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo06'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo06'); ?>.webp" alt!="<?php the_field('altphoto06'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo07'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo07'); ?>.webp" alt!="<?php the_field('altphoto07'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo08'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo08'); ?>.webp" alt!="<?php the_field('altphoto08'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo09'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo09'); ?>.webp" alt!="<?php the_field('altphoto09'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo10'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo10'); ?>.webp" alt!="<?php the_field('altphoto10'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo11'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo11'); ?>.webp" alt!="<?php the_field('altphoto11'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo12'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo12'); ?>.webp" alt!="<?php the_field('altphoto12'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo13'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo13'); ?>.webp" alt!="<?php the_field('altphoto13'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo14'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo14'); ?>.webp" alt!="<?php the_field('altphoto14'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('photo15'))) :?>
            li: img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo15'); ?>.webp" alt!="<?php the_field('altphoto15'); ?>")
            <?php endif; ?>
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
        div.btn-basyo
          <?php if (!empty(get_field('amazonlink'))) :?>
          div.flex-center-center
            button.btn3.btn3-amazon
              a(href!= "<?php echo get_field('amazonlink'); ?>" rel="nofollow") アマゾンで見る
          <?php endif; ?>
          <?php if (!empty(get_field('iherblink'))) :?>
          div.flex-center-center
            button.btn3.btn3-iherb
              a(href!= "<?php echo get_field('iherblink'); ?>" rel="nofollow") iHerbで見る
          <?php endif; ?>
          <?php if (!empty(get_field('aflink'))) :?>
          div.flex-center-center
            button.btn3.btn3-official
              <?php echo get_field('aflink'); ?>
          <?php endif; ?>
          <?php if (!empty(get_field('rakutenlink'))) :?>
          div.flex-center-center
            button.btn3.btn3-rakuten
              a(href!= "<?php echo get_field('rakutenlink'); ?>" rel="nofollow") 楽天市場で見る
          <?php endif; ?>
          <?php if (!empty(get_field('yahoolink'))) :?>
          div.flex-center-center
            button.btn3.btn3-yahoo
              a(href!= "<?php echo get_field('yahoolink'); ?>" rel="nofollow") ヤフーショッピングで見る
          <?php endif; ?>
        h2.h2_dotglay <?php the_field('name'); ?>の商品説明
        <?php the_content(); ?>
        div.btn-basyo
          <?php if (!empty(get_field('amazonlink'))) :?>
          div.flex-center-center
            button.btn3.btn3-amazon
              a(href!= "<?php echo get_field('amazonlink'); ?>" rel="nofollow") アマゾンで見る
          <?php endif; ?>
          <?php if (!empty(get_field('iherblink'))) :?>
          div.flex-center-center
            button.btn3.btn3-iherb
              a(href!= "<?php echo get_field('iherblink'); ?>" rel="nofollow") iHerbで見る
          <?php endif; ?>
          <?php if (!empty(get_field('aflink'))) :?>
          div.flex-center-center
            button.btn3.btn3-official
              <?php echo get_field('aflink'); ?>
          <?php endif; ?>
          <?php if (!empty(get_field('rakutenlink'))) :?>
          div.flex-center-center
            button.btn3.btn3-rakuten
              a(href!= "<?php echo get_field('rakutenlink'); ?>" rel="nofollow") 楽天市場で見る
          <?php endif; ?>
          <?php if (!empty(get_field('yahoolink'))) :?>
          div.flex-center-center
            button.btn3.btn3-yahoo
              a(href!= "<?php echo get_field('yahoolink'); ?>" rel="nofollow") ヤフーショッピングで見る
          <?php endif; ?>
    section 
block append bodyScript
<?php get_footer(); ?>