<?php /** * Template Name: ANYTIMEtpl *//** * Template Post Type: post,gym_info */  get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1.gym <?php echo get_the_title(); ?>
        div.gym-gaiyou 店舗数・会員数が日本トップクラスのANYTIME FITNESS。入会すると日本国内の店舗（1,000店舗以上）だけでなく、世界中の店舗も利用できます。出張・旅行・引越や転職といった時だけでなく、気分を変えたい時や、使いたい設備によって好きな店舗をその都度選ぶことができます。
        div.gymkind 
          ul
            <?php foreach(get_field('gym_kind')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        table
          tr
            th パーソナル対応
            td <?php the_field('parsonal'); ?>
          tr 
            th 住所
            td <?php the_field('address'); ?>
          tr 
            th アクセス
            td <?php the_field('access'); ?>
          tr 
            th 駐車場
            td <?php the_field('parking'); ?>
          tr 
            th 営業時間
            td 24時間 365日
          tr 
            th スタッフアワー
            td <?php the_field('staffhour'); ?>
        h2.flex-center-center  
          p 設備・サービス情報
        div.slideshow
          div#slideshow-image
            img(src!= "<?php echo !empty(get_field('gym_photo01')) ? get_field('gym_photo01') : get_template_directory_uri() . '/assets/img/imgpre.webp'; ?>" alt!="<?php the_field('gym_name'); ?>の外観")
          ul#thumbnail.thumbnail
            li: img(src!= "<?php echo !empty(get_field('gym_photo01')) ? get_field('gym_photo01') : get_template_directory_uri() . '/assets/img/imgpre.webp'; ?>" alt!="<?php the_field('gym_name'); ?>の外観")
            <?php if (!empty(get_field('gym_photo02'))) :?>
            li: img(src!= "<?php the_field('gym_photo02'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo03'))) :?>
            li: img(src!= "<?php the_field('gym_photo03'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo04'))) :?>
            li: img(src!= "<?php the_field('gym_photo04'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo05'))) :?>
            li: img(src!= "<?php the_field('gym_photo05'); ?>")
            <?php endif; ?>
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
        h3.h3_dotglay 設備
        div.setsubi
          ul
            <?php foreach(get_field('facility')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        h3.h3_dotglay 支払い方法
        div.setsubi
          ul
            <?php foreach(get_field('payment')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        h3.h3_dotglay サービス情報
        div.setsubi
          ul 
            <?php foreach(get_field('service_info')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        h2.flex-center-center  
          p おすすめポイント
        div.point
          div
          ul.recpoint 
            li 24時間 365日 全店舗利用可能
              p 24時間365日利用できるので、あなたの生活スタイルに合わせていつでも、通えるのが大きなメリットです。<br>早朝・深夜でも時間関係なく利用できます。<br>365日利用可能なので、休館日が設定されているジムだとルーティンが崩れてしまったり、やる気がある日に休みということがありません。<br>
            li 会費1万円以下
              p 会費は店舗によって異なりますが、目安として税抜6,500円〜8,000円程度となります。<br>都心部の店舗で税抜き10,000円程度の会費の店舗はあります。<br>大手のフィットネスジムで全店舗利用できるプランは15,000円程度の価格帯が一般的です。
            li 設備が充実している
              p エニタイムフィットネスはマシンの種類も台数も豊富です。<br>格安のジムはマシンの数がが少なく、やりたいトレーニングができないことがあります。<br>もし混雑していても待っている間に違うトレーニングをして待つことができるます。<br>トレーニングのやる気が削がれることがありません。<br>
            li 店舗数が多い 国内1,000店舗以上・海外の店舗も利用可能
              p エニタイムフィットネスは店舗数が多く、自宅や勤務先・学校など自分のライフスタイルに合わせた店舗を選ぶことができます。<br>引越し先や転職・転勤先にも店舗あることが多く、何も手続きをせずに、そのまま利用できます。<br>
        div.margintop.flex-center-center
          button.btn1-orange
            a(href= "/gym-brand/anytimefitness/") エニタイムフィットネスを選ぶ理由・メリット/デメリットを解説
        h2.flex-center-center 
          p 料金プラン
        div.planname 料金プラン
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price1'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center 24時間 365日
            li
              div.gymplan-left.flex-center-center  スタッフアワー
              div.gymplan-right.flex-none-center <?php the_field('staffhour'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center 未成年の方は入会できませんが、15歳以上18歳以下（高校在学期間）の方は、保護者がエニタイムメンバーであれば高校生無料利用（HIGH SCHOOL PASS）をご利用できます。
        h2.flex-center-center 
          p 初期費用
        div.initialname セキュリティキー発行手数料
        div.initialwaku 通常5,500円（税込）*キャンペーンで無料の場合があります。
        div.initialname 入会月の会費
        div.initialwaku <?php the_field('price1'); ?>÷月の日数×利用日数
        h2.flex-center-center 
          p 地図・アクセス
        div.access <?php the_field('access'); ?>
          div.googlemap
            <?php echo get_field('gym_googlemap'); ?>
        h2.flex-center-center 
          p 基本情報
        div.flex-center-center 
          table 
            tr
              th 施設名
              td <?php the_field('gym_name'); ?>
            tr
              th 営業時間
              td 24時間 365日
            tr 
              th アクセス
              td <?php the_field('access'); ?>
            tr
              th 駐車場
              td <?php the_field('parking'); ?>
        <?php if (!empty(get_field('aflink'))) :?>
        div.btn-basyo
          div.flex-center-center
            button.btn1.btn1-blue
              a(href!= "<?php echo get_field('aflink'); ?>" rel="nofollow") 見学やお申込みはこちらから
          div.flex-center-center
            button.btn1.btn1-orange
              a(href="<?php echo get_field('aflink'); ?>" rel="nofollow") 公式サイトでもっと詳しく
              <?php else:?>
          div.officialhp.none
            a(href!= "<?php echo get_field('official_link'); ?>" rel="nofollow") 公式サイトリンク
              <?php endif; ?>
    section 
block append bodyScript
<?php get_footer(); ?>