<?php /** * Template Name: 筋トレメニュー *//** * Template Post Type: post*/  get_header(); ?>
block pageContent
  article
    section
      .container 
        .main-waku
          div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
          h1 <?php echo get_the_title(); ?>
          div 
            div.post-thumbnail <?php the_post_thumbnail(); ?>
          .content 
            div <?php while ( have_posts() ) : the_post(); ?>
              <?php the_content(); ?>
              <?php endwhile; ?>
block append bodyScript
<?php get_footer(); ?>