<?php /** * Template Name: RIZAPtpl *//** * Template Post Type: post,gym_info */  get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1.gym <?php echo get_the_title(); ?>
        //div.post-thumbnail
          img(src!= "<?php if (!empty(get_field('gym_photo01'))):?><?php the_field('gym_photo01'); ?><?php endif; ?>")
        div.gymkind 
          ul
            <?php foreach(get_field('gym_kind')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        table.imgcenter
          tr
            th パーソナル対応
            td <?php the_field('parsonal'); ?>
          tr 
            th 住所
            td <?php the_field('address'); ?>
          tr 
            th アクセス
            td <?php the_field('access'); ?>
          tr 
            th 駐車場
            td <?php the_field('parking'); ?>
          tr 
            th 営業時間
            td <?php the_field('business_hours'); ?>
        .mokuji-waku
          p 目次
          ul 
            li 
              a(href="#syokihiyou") 初期費用・入会金
            li 
              a(href="#ryoukin") 料金プラン
            li 
              a(href="#setubi") 設備・サービス
            li 
              a(href="#osusume") おすすめポイント
            li 
              a(href="#access") 地図・アクセス  
        h2.flex-center-center#syokihiyou 
          p 初期費用・入会金
        div.initialname <?php the_field('initial_costname'); ?>
        div.initialwaku <?php the_field('initial_cost'); ?>
        h2.flex-center-center#ryoukin
          p 料金プラン
        div.planname <?php the_field('planname1'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price1'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time1'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range1'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices1'); ?>
        div.planname <?php the_field('planname2'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price2'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time2'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range2'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices2'); ?>
        div.planname <?php the_field('planname3'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price3'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time3'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range3'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices3'); ?>
        h2.flex-center-center 
          p 初期費用・入会金
        div.initialname <?php the_field('initial_costname2'); ?>
        div.initialwaku <?php the_field('initial_cost2'); ?>
        div.planname <?php the_field('planname4'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price4'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time4'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range4'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices4'); ?>
        h2.flex-center-center#setubi
          p 設備・サービス
        div.slideshow
          div#slideshow-image
            img(src!= "<?php echo !empty(get_field('gym_photo01')) ? get_field('gym_photo01') : get_template_directory_uri() . '/assets/img/imgpre.webp'; ?>" alt!="<?php the_field('gym_name'); ?>の外観")
          ul#thumbnail.thumbnail 
            li: img(src!= "<?php echo !empty(get_field('gym_photo01')) ? get_field('gym_photo01') : get_template_directory_uri() . '/assets/img/imgpre.webp'; ?>" alt!="<?php the_field('gym_name'); ?>の外観")
            <?php if (!empty(get_field('gym_photo02'))) :?>
            li: img(src!= "<?php the_field('gym_photo02'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo03'))) :?>
            li: img(src!= "<?php the_field('gym_photo03'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo04'))) :?>
            li: img(src!= "<?php the_field('gym_photo04'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo05'))) :?>
            li: img(src!= "<?php the_field('gym_photo05'); ?>")
            <?php endif; ?>
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
        h3.h3_dotglay 設備
        div.setsubi
          ul
            <?php foreach(get_field('facility')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        h3.h3_dotglay 支払い方法
        div.setsubi
          ul
            <?php foreach(get_field('payment')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        h3.h3_dotglay サービス
        div.setsubi
          ul 
            <?php foreach(get_field('service_info')as $data):?>
            li <?php echo $data;?>
            <?php endforeach;?>
        h2.flex-center-center#osusume  
          p おすすめポイント
        div.point
          div 
          ul.recpoint <?php if (!empty(get_field('point1_title'))) :?>
            li <?php the_field('point1_title'); ?>
              p <?php the_field('point1_naiyou'); ?><?php endif; ?>
              <?php if (!empty(get_field('point2_title'))) :?>
            li <?php the_field('point2_title'); ?>
              p <?php the_field('point2_naiyou'); ?><?php endif; ?>
              <?php if (!empty(get_field('point3_title'))) :?>
            li <?php the_field('point3_title'); ?>
              p <?php the_field('point3_naiyou'); ?><?php endif; ?>
              <?php if (!empty(get_field('point4_title'))) :?>
            li <?php the_field('point4_title'); ?>
              p <?php the_field('point4_naiyou'); ?><?php endif; ?>
              <?php if (!empty(get_field('point5_title'))) :?>
            li <?php the_field('point5_title'); ?>
              p <?php the_field('point5_naiyou'); ?><?php endif; ?>
        div.margintop.flex-center-center
          button.btn1-orange
            a(href= "/gym-brand/rizap/") ライザップを選ぶ理由・メリット/デメリットを解説
        h2.flex-center-center 
          p 初期費用・入会金
        div.initialname <?php the_field('initial_costname'); ?>
        div.initialwaku <?php the_field('initial_cost'); ?>
        h2.flex-center-center 
          p 料金プラン
        div.planname <?php the_field('planname1'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price1'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time1'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range1'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices1'); ?>
        div.planname <?php the_field('planname2'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price2'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time2'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range2'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices2'); ?>
        div.planname <?php the_field('planname3'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price3'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time3'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range3'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices3'); ?>
        h3.flex-center-center 
          p プライムメンバープラン
        div.initialname <?php the_field('initial_costname2'); ?>
        div.initialwaku <?php the_field('initial_cost2'); ?>
        div.planname <?php the_field('planname4'); ?>
        div.planwaku
          ul
            li
              div.gymplan-left.flex-center-center 料金
              div.gymplan-right.flex-none-center <?php the_field('price4'); ?>
            li 
              div.gymplan-left.flex-center-center  利用可能時間
              div.gymplan-right.flex-none-center <?php the_field('riyou_time4'); ?>
            li
              div.gymplan-left.flex-center-center  回数
              div.gymplan-right.flex-none-center <?php the_field('use_range4'); ?>
            li 
              div.gymplan-left.flex-center-center  特記事項                 
              div.gymplan-right.flex-none-center <?php the_field('notices4'); ?>
        h3.flex-center-center#access 
          p 地図・アクセス
        div.access <?php echo get_field('access'); ?>
          div.googlemap
            <?php echo get_field('gym_googlemap'); ?>
        h2.flex-center-center 
          p よくある質問
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title 支払いは一括だけでしょうか？
          .accordion-content.back-lightglay 一括支払いだけでなく、分割払いも可能です。<br>分割払いは3回/6回/10回/12回/18回/24回/36回/48回/60回などで対応してもらえます。
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title 支払い方法は？
          .accordion-content.back-lightglay 支払い方法は一括支払いの際は「銀行振込」「デビッドカード」のどちらかになります。<br>分割支払いの場合は、月々の「口座引き落とし」になります。
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title 何歳から何歳まで通えますか？
          .accordion-content.back-lightglay 16歳から入会できますが、無料カウンセリングには保護者の同伴が必要です。<br>年齢の上限設定はされていませんが、健康状態に問題がなければ、どなたでも利用可能です。
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title 運動が苦手でも大丈夫でしょうか？
          .accordion-content.back-lightglay 運動が苦手でも、運動神経が悪いと思っている方も、問題なく取り組めます。<br>筋力トレーニングはあまり運動神経と関係がないものが多く、関節を動かしているイメージに近いです。<br>また、トレーナーがマンツーマンで教えてくれますし、随時修正をしてくれるので、初心者や運動神経が悪い方でも安心して取り組めます。
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title 部分痩せはできますか？
          .accordion-content.back-lightglay 一人ひとりの目的に合わせて、マンツーマントレーニングを行いますので、全身をスリムにするだけでなく、気になる部位を特に集中的に痩せるプログラムを組んでくれます。<br>なりたい理想の身体をカウンセリングの際に伝えて、トレーナーさんと一緒に理想の身体に近づいていきましょう。
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title トレーニングは自宅でも行なえますか？
          .accordion-content.back-lightglay 自宅でも行える正しいトレーニングを学ぶこともできます。ダイエットに成功した後の体型維持は正しい自宅トレーニングで可能です。
        .accordion-item
          .accordion-title.accordion-title-left.js-accordion-title 筋肉がつきすぎて逆に太くなりませんか？
          .accordion-content.back-lightglay 引き締まった身体を作ることが目的である場合、単に筋肉量を増やすことだけを目的としたトレーニングを行いませんので、太くなりすぎることはありません。<br>脂肪が減り、筋肉が増えるので、細く引き締まって見えます。
        <?php if (!empty(get_field('aflink'))) :?>
        div.btn-basyo
          div.flex-center-center
            button.btn2.btn2-blue
              a(href!= "<?php echo get_field('aflink'); ?>" rel="nofollow") 見学やお申込みはこちらから
          div.flex-center-center
            button.btn2.btn2-orange
              a(href="<?php echo get_field('aflink'); ?>" rel="nofollow") 公式サイトでもっと詳しく
              <?php else:?>
          div.officialhp
            a(href!= "<?php echo get_field('official_link'); ?>" rel="nofollow") 公式サイトリンク
              <?php endif; ?>
    section 
block append bodyScript
<?php get_footer(); ?>