<?php /** * Template Name: 都道府県一覧付き *//** * Template Post Type: post,gym_info */  get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        div <?php while ( have_posts() ) : the_post(); ?>
        div.thum
          <?php the_post_thumbnail(); ?>
        h1 <?php echo get_the_title(); ?>
        div 
          <?php the_content(); ?>
          <?php endwhile; ?>
          input#tab-a.tab-input(type="" role="tab" name="tab-radio" value="usage" checked)
          h3.tab-label-heading.selected
            label.tab-label(for="tab-a") 関東

          input#tab-b.tab-input(type="radio" role="tab" name="tab-radio" value="type")
          h3.tab-label-heading
            label.tab-label(for="tab-b") 近畿

          input#tab-c.tab-input(type="radio" role="tab" name="tab-radio" value="maker")
          h3.tab-label-heading
            label.tab-label(for="tab-c") 中部
          
          input#tab-d.tab-input(type="radio" role="tab" name="tab-radio" value="maker")
          h3.tab-label-heading
            label.tab-label(for="tab-d") 北海道

          input#tab-e.tab-input(type="radio" role="tab" name="tab-radio" value="maker")
          h3.tab-label-heading
            label.tab-label(for="tab-e") 東北

          input#tab-f.tab-input(type="radio" role="tab" name="tab-radio" value="maker")
          h3.tab-label-heading
            label.tab-label(for="tab-f") 中国

          input#tab-g.tab-input(type="radio" role="tab" name="tab-radio" value="maker")
          h3.tab-label-heading
            label.tab-label(for="tab-g") 四国

          input#tab-h.tab-input(type="radio" role="tab" name="tab-radio" value="maker")
          h3.tab-label-heading
            label.tab-label(for="tab-h") 九州・沖縄

          div.tab-panel.panel-a(role="tabpanel")
            div
              p 関東の中身

          div.tab-panel.panel-b(role="tabpanel")
            div
              p 近畿の中身

          div.tab-panel.panel-c(role="tabpanel")
            div
              p 中部の中身

          div.tab-panel.panel-d(role="tabpanel")
            div
              p 北海道の中身

          div.tab-panel.panel-e(role="tabpanel")
            div
              p 東北の中身

          div.tab-panel.panel-f(role="tabpanel")
            div
              p 中国の中身

          div.tab-panel.panel-g(role="tabpanel")
            div
              p 四国の中身

          div.tab-panel.panel-h(role="tabpanel")
            div
              p 九州・沖縄の中身
          <br>
        div
          button(type='button' data-tab='kanto').js-tabbtn.active 関東
          button(type='button' data-tab='kinki').js-tabbtn 近畿
          button(type='button' data-tab='chubu').js-tabbtn 中部
          button(type='button' data-tab='hokkaido').js-tabbtn 北海道
          button(type='button' data-tab='tohoku').js-tabbtn 東北
          button(type='button' data-tab='chugoku').js-tabbtn 中国
          button(type='button' data-tab='shikoku').js-tabbtn 四国
          button(type='button' data-tab='kyushu').js-tabbtn 九州・沖縄
        div 
          div.js-tabbox(data-tab='kanto').active 関東の中身
          div.js-tabbox(data-tab='kinki') 近畿の中身
          div.js-tabbox(data-tab='chubu') 中部の中身
          div.js-tabbox(data-tab='hokkaido') 北海道の中身
          div.js-tabbox(data-tab='tohoku') 東北の中身
          div.js-tabbox(data-tab='chugoku') 中国の中身
          div.js-tabbox(data-tab='shikoku') 四国の中身
          div.js-tabbox(data-tab='kyushu') 九州・沖縄の中身



    section 
block append bodyScript
<?php get_footer(); ?>