<?php /** * Template Name: プロテイン *//** * Template Post Type: protein */  get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        div <?php while ( have_posts() ) : the_post(); ?>
        div.thum
          <?php the_post_thumbnail(); ?>
        h1 <?php echo get_the_title(); ?>
        div.text-r
          span 最終更新日:<time datetime="<?php echo get_the_modified_time('c'); ?>"><?php the_modified_date('Y年m月d日'); ?></time>
        <?php the_content(); ?>
        <?php endwhile; ?>
        div.gym-tag-title
          div.gym-tag.gym-tag_border
            ul
              <?php $terms = get_the_terms($post->ID, 'protein_tag'); if ($terms && !is_wp_error($terms)) { foreach ($terms as $term) { $term_link = get_term_link($term); if (!is_wp_error($term_link)) { echo '<a href="' . esc_url($term_link) . '"><li>' . esc_html($term->name) . '</li></a>'; } } } ?>
        <?php get_template_part('functions/author-box'); ?>
        <?php get_template_part('functions/inside_link'); ?>
    section 
block append bodyScript
<?php get_footer(); ?>