<?php /** * Template Name: protein-demo *//** * Template Post Type: post,protein_info */  get_header(); ?>
//表を挿入できるようにする前の状態（念のため保存）
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1 <?php echo get_the_title(); ?>
        table.table_left 
          tr.table_none
            th.th_color_none  プロテインの種類
            td.itembox.itembox_blue
              ul
                li <?php $terms = get_the_terms($post->ID, 'protein_type'); foreach($terms as $term): echo $term->name; ?> <?php endforeach;?>
          tr.table_none
            th.th_color_none プロテインのブランド
            td.itembox.itembox_darkblue
              ul
                li <?php $terms = get_the_terms($post->ID, 'protein_brand'); foreach($terms as $term): echo $term->name; ?> <?php endforeach;?>
          tr.table_none
            th.th_color_none フレーバーの種類
            td.itembox.itembox_border
              ul
                <?php $terms = get_the_terms($post->ID, 'protein_flavor'); foreach($terms as $term): { echo '<li>'; echo $term->name; echo '</li>';}?> <?php endforeach;?>
        div <?php the_field('no1flavor'); ?>での計算
        table.table_base.table_left.textleft.mar_top20
          tr 
            th 1食あたりの価格
            td <?php the_field('per1price'); ?>円/食
          tr
            th 1食あたりのグラム数
            td <?php the_field('per1'); ?>g/食
          tr
            th 1食あたりのタンパク質量
            td <?php the_field('per1protain'); ?>g/食
          tr
            th 1kgあたりの価格
            td <?php the_field('per1kgprice'); ?>円/kg
        p.flex-center-center パッケージ画像
        div.slideshow-protein
          div#slideshow-image
            img(src!= "<?php if (!empty(get_field('gym_photo01'))) :?><?php the_field('gym_photo01'); ?><?php endif; ?>")
          ul#thumbnail.thumbnail
            li: img(src!= "<?php if (!empty(get_field('gym_photo01'))) :?><?php the_field('gym_photo01'); ?><?php endif; ?>")
            <?php if (!empty(get_field('gym_photo02'))) :?>
            li: img(src!= "<?php the_field('gym_photo02'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo03'))) :?>
            li: img(src!= "<?php the_field('gym_photo03'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo04'))) :?>
            li: img(src!= "<?php the_field('gym_photo04'); ?>")
            <?php endif; ?>
            <?php if (!empty(get_field('gym_photo05'))) :?>
            li: img(src!= "<?php the_field('gym_photo05'); ?>")
            <?php endif; ?>
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
        h2.h2_dotglay <?php the_field('name'); ?>の商品説明
        <?php the_content(); ?>
        //h3.protein 
          span.midashi.midashi_orange オススメポイント
        //div <?php the_content(); ?>
        //h3.protein 
        //h3.protein 
          span.midashi.midashi_darkblue 特徴
        //div <?php the_field('tokutyou'); ?>
        <?php if(get_field('review') == 1): ?>★☆☆☆☆
        <?php elseif(get_field('review') == 2): ?>★★☆☆☆
        <?php elseif(get_field('review') == 3): ?>★★★☆☆
        <?php elseif(get_field('review') == 4): ?>★★★★☆
        <?php elseif(get_field('review') == 5): ?>★★★★★
        <?php endif; ?>
        h3.protein 
          span.midashi.midashi_lightblue 栄養成分表示
        p １食（<?php the_field('per1'); ?>）gあたり
        table.table_yoko 
          tr
            th.flavor フレーバー 
            th.kpfc カロリー
            th.kpfc タンパク質
            th.kpfc 脂質
            th.kpfc 炭水化物
          tr <?php if (!empty(get_field('flavor1'))) :?>
            td.flavor  <?php the_field('flavor1'); ?>
            td.kpfc <?php the_field('kcal1'); ?>kcal
            td.kpfc <?php the_field('protein1'); ?>g
            td.kpfc <?php the_field('fat1'); ?>g
            td.kpfc <?php the_field('carbo1'); ?>g
            <?php endif; ?>
          tr <?php if (!empty(get_field('flavor2'))) :?>
            td.flavor  <?php the_field('flavor2'); ?>
            td.kpfc <?php the_field('kcal2'); ?>kcal
            td.kpfc <?php the_field('protein2'); ?>g
            td.kpfc <?php the_field('fat2'); ?>g
            td.kpfc <?php the_field('carbo2'); ?>g
            <?php endif; ?>
          tr <?php if (!empty(get_field('flavor3'))) :?>
            td.flavor  <?php the_field('flavor3'); ?>
            td.kpfc <?php the_field('kcal3'); ?>kcal
            td.kpfc <?php the_field('protein3'); ?>g
            td.kpfc <?php the_field('fat3'); ?>g
            td.kpfc <?php the_field('carbo3'); ?>g
            <?php endif; ?>
          tr <?php if (!empty(get_field('flavor4'))) :?>
            td.flavor  <?php the_field('flavor4'); ?>
            td.kpfc <?php the_field('kcal4'); ?>kcal
            td.kpfc <?php the_field('protein4'); ?>g
            td.kpfc <?php the_field('fat4'); ?>g
            td.kpfc <?php the_field('carbo4'); ?>g
            <?php endif; ?>
          tr <?php if (!empty(get_field('flavor5'))) :?>
            td.flavor  <?php the_field('flavor5'); ?>
            td.kpfc <?php the_field('kcal5'); ?>kcal
            td.kpfc <?php the_field('protein5'); ?>g
            td.kpfc <?php the_field('fat5'); ?>g
            td.kpfc <?php the_field('carbo5'); ?>g
            <?php endif; ?>
        h3.protein 
          span.midashi.midashi_lightblue 飲み方
        div <?php the_field('nomikata'); ?>
        h3.protein 
          span.midashi.midashi_lightblue サイズ展開
        table.table_yoko 
          tr
            th.flavor フレーバー 
            th <?php the_field('size1'); ?>
            th <?php the_field('size2'); ?>
            <?php if (!empty(get_field('size3'))) :?>
            th <?php the_field('size3'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size4'))) :?>
            th <?php the_field('size4'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size5'))) :?>
            th <?php the_field('size5'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size6'))) :?>
            th <?php the_field('size6'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size7'))) :?>
            th <?php the_field('size7'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size8'))) :?>
            th <?php the_field('size8'); ?>
            <?php endif; ?>
          tr
            th.flavor  <?php the_field('flavor1'); ?>
            td.td_center <?php the_field('size1umu'); ?>
            td.td_center <?php the_field('size2umu'); ?>
            td.td_center <?php the_field('size3umu'); ?>
            <?php if (!empty(get_field('size4umu'))) :?>
            td.td_center <?php the_field('size4umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size5umu'))) :?>
            td.td_center <?php the_field('size5umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size6umu'))) :?>
            td.td_center <?php the_field('size6umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size7umu'))) :?>
            td.td_center <?php the_field('size7umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('size8umu'))) :?>
            td.td_center <?php the_field('size8umu'); ?>
            <?php endif; ?>
          <?php if (!empty(get_field('flavor2'))) :?>
          tr
            th.flavor  <?php the_field('flavor2'); ?>
            td.td_center <?php the_field('f2size1umu'); ?>
            td.td_center <?php the_field('f2size2umu'); ?>
            td.td_center <?php the_field('f2size3umu'); ?>
            <?php if (!empty(get_field('f2size4umu'))) :?>
            td.td_center <?php the_field('f2size4umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f2size5umu'))) :?>
            td.td_center <?php the_field('f2size5umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f2size6umu'))) :?>
            td.td_center <?php the_field('f2size6umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f2size7umu'))) :?>
            td.td_center <?php the_field('f2size7umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f2size8umu'))) :?>
            td.td_center <?php the_field('f2size8umu'); ?>
            <?php endif; ?>
          <?php endif; ?>
          <?php if (!empty(get_field('flavor3'))) :?>
          tr
            th.flavor  <?php the_field('flavor3'); ?>
            td.td_center <?php the_field('f3size1umu'); ?>
            td.td_center <?php the_field('f3size2umu'); ?>
            td.td_center <?php the_field('f3size3umu'); ?>
            <?php if (!empty(get_field('f3size4umu'))) :?>
            td.td_center <?php the_field('f3size4umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f3size5umu'))) :?>
            td.td_center <?php the_field('f3size5umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f3size6umu'))) :?>
            td.td_center <?php the_field('f3size6umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f3size7umu'))) :?>
            td.td_center <?php the_field('f3size7umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f3size8umu'))) :?>
            td.td_center <?php the_field('f3size8umu'); ?>
            <?php endif; ?>
          <?php endif; ?>
          <?php if (!empty(get_field('flavor4'))) :?>
          tr
            th.flavor  <?php the_field('flavor4'); ?>
            td.td_center <?php the_field('f4size1umu'); ?>
            td.td_center <?php the_field('f4size2umu'); ?>
            td.td_center <?php the_field('f4size3umu'); ?>
            <?php if (!empty(get_field('f4size4umu'))) :?>
            td.td_center <?php the_field('f4size4umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f4size5umu'))) :?>
            td.td_center <?php the_field('f4size5umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f4size6umu'))) :?>
            td.td_center <?php the_field('f4size6umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f4size7umu'))) :?>
            td.td_center <?php the_field('f4size7umu'); ?>
            <?php endif; ?>
            <?php if (!empty(get_field('f4size8umu'))) :?>
            td.td_center <?php the_field('f4size8umu'); ?>
            <?php endif; ?>
          <?php endif; ?>
        h3.protein 
          span.midashi.midashi_lightblue サイズ毎の価格
        table.table_base 
          tr 
            th
            th(colspan="2")  サイズ
            th
            th
          tr
            th
            th 価格
            th １食あたりの価格
            th 価格
            th １食あたりの価格
          tr 
            th <?php the_field('size1'); ?>g
            td <?php the_field('size1price'); ?>円
            td <?php the_field('size1perprice'); ?>円
          tr 
            th <?php the_field('size2'); ?>g
            td <?php the_field('size2price'); ?>円
            td <?php the_field('size2perprice'); ?>円
          tr 
            th <?php the_field('size3'); ?>g
            td <?php the_field('size3price'); ?>円
            td <?php the_field('size3perprice'); ?>円
          <?php if (!empty(get_field('size4'))) :?>
          tr 
            th <?php the_field('size4'); ?>g
            td <?php the_field('size4price'); ?>円
            td <?php the_field('size4perprice'); ?>円
          <?php endif; ?>
          <?php if (!empty(get_field('size5'))) :?>
          tr 
            th <?php the_field('size5'); ?>g
            td <?php the_field('size5price'); ?>円
            td <?php the_field('size5perprice'); ?>円
          <?php endif; ?>
          <?php if (!empty(get_field('size6'))) :?>
          tr 
            th <?php the_field('size6'); ?>g
            td <?php the_field('size6price'); ?>円
            td <?php the_field('size6perprice'); ?>円
          <?php endif; ?>
        div.btn-basyo
          div.flex-center-center
            button.btn2.btn2-blue
              a(href!= "<?php the_field('amazonlink'); ?>" rel="nofollow") アマゾンでの購入はこちらから
          div.flex-center-center
            button.btn2.btn2-green
              a(href="<?php the_field('iherblink'); ?>" rel="nofollow") iHerb（アイハーブ/サプリメント総合サイト）での購入はこちら
    section 
block append bodyScript
<?php get_footer(); ?>