    block variables
    footer(class= isFrontPage ? 'l-footer footer-front-page' : 'l-footer')
      section.l-wrapper
        .footer-mobile 
          #logo-footer
            img(src!= "<?php echo get_template_directory_uri(); ?>/dist/assets/img/logo/BULK-UPlogo_min.png")
          ul
            li 運営会社
            li プライバシーポリシー
            li お問合せ
          .footer-mobile-copyright
            small.footer-mobile-copyright ©︎ 2022 Simple is Best Corp. All Rights Reserved.
                
// footer end 