<?php get_header(); ?>
main.l-main.p-page.p-front-page
  article
    section
      .container
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        <?php if ( have_posts() ) : ?>
        <?php while ( have_posts() ) : the_post(); ?>
        div 
          div.gymlist-waku
            div.gymlist-gymkind
              ul
                li <?php $terms = get_the_terms($post->ID, 'protein_type'); foreach($terms as $term): echo $term->name; ?> <?php endforeach;?>
            div.gymlist-caset
              div.gymlist-name
                a(href!= "<?php the_permalink(); ?>") <?php the_field('name'); ?>
              div.gymlist-detail
                div.detailthum  
                  img(src!= "<?php if (!empty(get_field('photo01'))) :?><?php echo get_template_directory_uri(); ?>/assets/img/protein/<?php the_field('photo01'); ?>.webp<?php endif; ?>" alt!="<?php the_field('altphoto01'); ?>")
                div 
                  table.table-pc
                    tr 
                      th 1食分の量
                      td <?php the_field('gpermeel'); ?>g
                      th １食あたりのタンパク質量
                      td <?php the_field('maxprotein'); ?>g 
                    tr
                      th １食あたりの価格（税込み）
                      td ¥<?php the_field('pricepermeel'); ?>
                      th 1gあたりの価格（税込み）
                      td ¥<?php the_field('priceperg'); ?>
                  table.table-smp
                    tr 
                      th 1食分の量
                      td <?php the_field('gpermeel'); ?>g
                    tr
                      th １食あたりのタンパク質量
                      td <?php the_field('maxprotein'); ?>g 
                    tr
                      th １食あたりの価格（税込み）
                      td ¥<?php the_field('pricepermeel'); ?>
                    tr
                      th 1gあたりの価格（税込み）
                      td ¥<?php the_field('priceperg'); ?>
                    div.textsmall ＊フレーパーにより異なる場合があります。
        <?php endwhile; //繰り返し処理終了 ?>
        h2#prteinsearch.kon プロテイン検索
        div.search
          div.searchta
            <?php include("searchform.php"); ?>
        <?php else : //投稿がない場合 ?> 申し訳ございません、検索条件に合致する情報がございません。別の条件で再度検索をお願いいたします。
        h2#prteinsearch.kon プロテイン検索
        div.search
          div.searchta
            <?php include("searchform.php"); ?>
        <?php endif; //条件分岐終了 ?>
<?php get_footer(); ?>