<?php get_header(); ?>
main.l-main.p-page.p-front-page
  article
    section
      .container
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1.text-c お探しのページが見つかりません。
        div.thum
          img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/common/404.webp" alt="404エラー")
        .text-c
          a(href!="/") トップページへ戻る
<?php get_footer(); ?>