<?php get_header(); ?>
main.l-main.p-page.p-front-page.home
  article
    section
      .bgc-white
        h2.text-c.main.font-corporate-logo-bold トレーニングをはじめたあなたへ
        .mw800.margin-0a
          .margin-t10 
            a(href="/protein/protein-guide").flexbox-l-tb
              .relative.margin-10.thum-mini.ob-cover-img
                img(src!="wp-content/uploads/2025/09/protein-guide.webp", alt="初めて プロテイン 選び方")
                .triangle-up
                .triangle-down
              div.text-l.relative.max-w9-6
                div.font-w7 プロテインの選び方と飲み方
                div.main.font-12.font-w7 【保存版】初めてのプロテイン選びと飲み方ガイド｜初心者が迷わない完全入門
                div.max-width90.arrow-50 プロテイン初心者向けに種類の違いや効果的な飲み方を徹底解説。ホエイ・ソイ・カゼインの選び方からおすすめ商品まで、ダイエットや筋トレを始めたい人必見の完全ガイド。
          .margin-t10 
            a(href="/protein/protein-when-what-type").flexbox-l-tb
              .relative.margin-10.thum-mini.ob-cover-img
                img(src!="wp-content/uploads/2025/07/protein-when-what-type.webp", alt="プロテイン タイミング 選び方")
                .triangle-up
                .triangle-down
              div.text-l.relative.max-w9-6
                div.font-w7 プロテインを飲む最適なタイミング
                div.main.font-12.font-w7 プロテインはいつ飲む?どれ飲む?
                div.max-width90.arrow-50 ホエイ・ソイ・エッグなどの種類別の特徴から、目的別の選び方、飲みすぎの注意点までわかりやすく解説。初心者にもおすすめブランドも紹介。  
    section
      .bgc-white
        h2.text-c.main.font-corporate-logo-bold 初めてパーソナルジムを検討するあなたへ
        .mw800.margin-0a
          .margin-tb10 
            a(href="/personal-gym/personal-gym-beginner-guide").flexbox-l-tb
              .relative.margin-10.thum-mini.ob-cover-img
                img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/column/personal-gym-beginner-guide.webp", alt="初心者マニュアル").margin-10
                .triangle-up
                .triangle-down
              div.text-l.relative.max-w9-6
                div.font-w7 入会前に知っておきたい
                div.main.font-12.font-w7 パーソナルジム初心者マニュアル
                div.max-width90.arrow-50 パーソナルジムの効果・料金・通い方・ジムの選び方など、ジム選びで失敗しないためのポイントを解説します。
          .margin-tb10       
            a(href="/personal-gym/choose-personal-gym-tips").flexbox-l-tb
              .relative.margin-10.thum-mini.ob-cover-img
                img(src!="wp-content/uploads/2025/06/choose-personal-gym-tips.webp", alt="ジムの上手な選び方").margin-10
                .triangle-up
                .triangle-down
              div.text-l.relative.max-w9-6
                div.font-w7 料金よりも大切なこと
                div.main.font-12.font-w7 パーソナルジムの上手な選び方
                div.max-width90.arrow-50 パーソナルジムがダイエット成功率を高める理由を徹底解説。入会前のチェックポイントを紹介。
          .margin-tb10 
            a(href="/personal-gym/5-free-trial-tips").flexbox-l-tb
              .relative.margin-10.thum-mini.ob-cover-img
                img(src!="wp-content/uploads/2025/06/5-free-trial-tips.webp", alt="無料体験で確認する５つのポイント").margin-10
                .triangle-up
                .triangle-down
              div.text-l.relative.max-w9-6
                div.font-w7 無料体験の前の準備
                div.main.font-12.font-w7 無料体験で確認する５つのポイント
                div.max-width90.arrow-50 強引な勧誘を避けたい方、初心者でも安心して選びたい方に必見の内容です。
          .margin-tb10 
            a(href="/personal-gym/personal-gym-meal-management").flexbox-l-tb
              .relative.margin-10.thum-mini.ob-cover-img
                img(src!="wp-content/uploads/2025/06/diet-control-strict-or-stressful.webp", alt="食事管理ができるか不安").margin-10
                .triangle-up
                .triangle-down
              div.text-l.relative.max-w9-6
                div.font-w7 食事管理ができるか不安
                div.main.font-12.font-w7 パーソナルジムの食事管理は厳しい？ストレスになる？
                div.max-width90.arrow-50 食事管理が苦手な人でも続けやすい工夫も紹介しています。まずは無料体験前に読んで、安心して一歩を踏み出そう！
    section
      .front-image.margin-0
        img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/common/front3.webp", alt="トレハジ").margin-0
    section
      .bgc-paleblue
        div.main.text-c.font-50
          i.fa-solid.fa-train-subway
        h2.text-c.main.font-corporate-logo-bold 人気の駅から<br>
          span.font-1 パーソナルジムを探す（掲載エリア順次追加中）
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/tokyo-prefecture/")
            div.font-w7.padding-t10.padding-l10 東京都
          div.flexbox-align.mw720.margin-0a.margin-l10
            a(href="/personal-gym/tokyo-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 東京駅
            a(href="/personal-gym/shibuya-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 渋谷駅
            a(href="/personal-gym/ikebukuro-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 池袋駅
            a(href="/personal-gym/ginza-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 銀座駅
            a(href="/personal-gym/ebidu-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 恵比寿駅
            a(href="/personal-gym/akihabara-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 秋葉原駅
            a(href="/personal-gym/gotanda-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 五反田駅
            a(href="/personal-gym/kamata-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 蒲田駅
            a(href="/personal-gym/jiyugaoka-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 自由が丘駅
            a(href="/personal-gym/kinshicho-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 錦糸町駅
            a(href="/personal-gym/nakano-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 中野駅
            a(href="/personal-gym/kitasenju-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 北千住駅
            a(href="/personal-gym/shinbashi-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 新橋駅
            a(href="/personal-gym/meguro-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 目黒駅
            a(href="/personal-gym/nippori-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 日暮里駅
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/kanagawa-prefecture/")
            div.font-w7.padding-t10.padding-l10 神奈川県
          div.flexbox-align.mw720.margin-0a
            a(href="/personal-gym/yokohama-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 横浜駅
            a(href="/personal-gym/kawasaki-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 川崎駅
            a(href="/personal-gym/musashikosugi-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 武蔵小杉駅
            a(href="/personal-gym/shinyokohama-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 新横浜駅
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/chiba-prefecture/")
            div.font-w7.padding-t10.padding-l10 千葉県
          div.flexbox-align.mw720.margin-0a
            a(href="/personal-gym/funabashi-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 船橋駅
            a(href="/personal-gym/chiba-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 千葉駅
            a(href="/personal-gym/kashiwa-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 柏駅
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/saitama-prefecture/")
            div.font-w7.padding-t10.padding-l10 埼玉県
          div.flexbox-align.mw720.margin-0a
            a(href="/personal-gym/omiya-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 大宮駅
            a(href="/personal-gym/kawagoe-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 川越駅
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/osaka-prefecture/")
            div.font-w7.padding-t10.padding-l10 大阪府
          div.flexbox-align.mw720.margin-0a
            a(href="/personal-gym/osaka-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 大阪駅/梅田駅
            a(href="/personal-gym/tennoji-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 天王寺駅
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/aichi-prefecture/")
            div.font-w7.padding-t10.padding-l10 愛知県
          div.flexbox-align.mw720.margin-0a
            a(href="/personal-gym/nagoya-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 名古屋駅
        div.flexbox-sb.mw800.margin-0a
          a(href="/area/fukuoka-prefecture/")
            div.font-w7.padding-t10.padding-l10 福岡県
          div.flexbox-align.mw720.margin-0a
            a(href="/personal-gym/hakata-station/" rel="nofollow").relative.margin-r10
              .btn4.bgc-white.main.arrow 博多駅
    section
      .front-image.margin-0
        img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/common/front4.webp", alt="トレハジ").margin-0
    //    
      section
        .bgc-white.mw800.margin-0a
          h2.text-c.main.font-corporate-logo-bold おすすめの人気パーソナルジム
          .flexbox-nowrap.loop-list.margin-tb40.max-w100.width-250
            ul.flexbox-nowrap.animetion-list
              li.slide
                <a href="https://t.afi-b.com/visit.php?a=G15224q-g4967552&p=g957083b" rel="nofollow"><img src="https://www.afi-b.com/upload_image/15224-1715436018-3.jpg" width="250" height="250" style="border:none;" alt="THE PERSONAL GYM" /></a><img src="https://t.afi-b.com/lead/G15224q/g957083b/g4967552" width="1" height="1" style="border:none;" />
              li.slide
                <a href="https://www.rentracks.jp/adx/r.html?idx=0.32036.363818.2375.3635&dna=58326" rel="nofollow noopener" target="_blank"><img src="https://www.image-rentracks.com/triath/beauty_diet/300_250.jpg" width="300" height="250"></a><img src="https://www.rentracks.jp/adx/p.gifx?idx=0.32036.363818.2375.3635&dna=58326" style="border:none;" height="1" width="1">
              li.slide
                <a href="https://t.afi-b.com/visit.php?a=714441x-E473668d&p=g957083b" rel="nofollow"><img src="https://www.afi-b.com/upload_image/14441-1677670469-3.png" width="250" height="250" style="border:none;" alt="Nexus（ネクサス）" /></a><img src="https://t.afi-b.com/lead/714441x/g957083b/E473668d" width="1" height="1" style="border:none;" />
              li.slide
                <a href="//af.moshimo.com/af/c/click?a_id=5087099&p_id=6463&pc_id=18262&pl_id=82878" rel="nofollow" referrerpolicy="no-referrer-when-downgrade" attributionsrc><img src="//image.moshimo.com/af-img/6218/000000082878.png" width="300" height="300" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=5087099&p_id=6463&pc_id=18262&pl_id=82878" width="1" height="1" style="border:none;" loading="lazy">
              li.slide
                <a href="https://t.afi-b.com/visit.php?a=v10553e-u3591468&p=g957083b" rel="nofollow"><img src="https://www.afi-b.com/upload_image/10553-1548042244-3.jpg" width="250" height="250" style="border:none;" alt="Lastyle" /></a><img src="https://t.afi-b.com/lead/v10553e/g957083b/u3591468" width="1" height="1" style="border:none;" />
              li.slide
                <a href="https://www.rentracks.jp/adx/r.html?idx=0.32036.363818.3017.4610&dna=67612" rel="nofollow noopener" target="_blank"><img src="https://www.image-rentracks.com/b-concept/2month-diet/250_250.png" width="250" height="250"/></a><img src="https://www.rentracks.jp/adx/p.gifx?idx=0.32036.363818.3017.4610&dna=67612" style="border:none;" height="1" width="1"/>
              li.slide 
                <a href="https://t.afi-b.com/visit.php?a=G15224q-g4967552&p=g957083b" rel="nofollow"><img src="https://www.afi-b.com/upload_image/15224-1715436018-3.jpg" width="250" height="250" style="border:none;" alt="THE PERSONAL GYM" /></a><img src="https://t.afi-b.com/lead/G15224q/g957083b/g4967552" width="1" height="1" style="border:none;" />
              li.slide
                <a href="https://www.rentracks.jp/adx/r.html?idx=0.32036.363818.2375.3635&dna=58326" rel="nofollow noopener" target="_blank"><img src="https://www.image-rentracks.com/triath/beauty_diet/300_250.jpg" width="300" height="250"></a><img src="https://www.rentracks.jp/adx/p.gifx?idx=0.32036.363818.2375.3635&dna=58326" style="border:none;" height="1" width="1">
              li.slide
                <a href="https://t.afi-b.com/visit.php?a=714441x-E473668d&p=g957083b" rel="nofollow"><img src="https://www.afi-b.com/upload_image/14441-1677670469-3.png" width="250" height="250" style="border:none;" alt="Nexus（ネクサス）" /></a><img src="https://t.afi-b.com/lead/714441x/g957083b/E473668d" width="1" height="1" style="border:none;" />
              li.slide
                <a href="//af.moshimo.com/af/c/click?a_id=5087099&p_id=6463&pc_id=18262&pl_id=82878" rel="nofollow" referrerpolicy="no-referrer-when-downgrade" attributionsrc><img src="//image.moshimo.com/af-img/6218/000000082878.png" width="300" height="300" style="border:none;"></a><img src="//i.moshimo.com/af/i/impression?a_id=5087099&p_id=6463&pc_id=18262&pl_id=82878" width="1" height="1" style="border:none;" loading="lazy">
              li.slide
                <a href="https://t.afi-b.com/visit.php?a=v10553e-u3591468&p=g957083b" rel="nofollow"><img src="https://www.afi-b.com/upload_image/10553-1548042244-3.jpg" width="250" height="250" style="border:none;" alt="Lastyle" /></a><img src="https://t.afi-b.com/lead/v10553e/g957083b/u3591468" width="1" height="1" style="border:none;" />
              li.slide
                <a href="https://www.rentracks.jp/adx/r.html?idx=0.32036.363818.3017.4610&dna=67612" rel="nofollow noopener" target="_blank"><img src="https://www.image-rentracks.com/b-concept/2month-diet/250_250.png" width="250" height="250"/></a><img src="https://www.rentracks.jp/adx/p.gifx?idx=0.32036.363818.3017.4610&dna=67612" style="border:none;" height="1" width="1"/>
      section
        .bgc-white
          .front-image.margin-0
            img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/common/front11.webp", alt="トレハジ").margin-0
    section
      .bgc-white
        h2.text-c.main.font-corporate-logo-bold 
          a(href="news") おしらせ
        div.mw800.margin-0a.mh200.overflow-y
          p <?php $query = new WP_Query(array('post_type' => 'page','name' => 'news')); if ($query->have_posts()) { while ($query->have_posts()) { $query->the_post(); the_content(); } wp_reset_postdata(); } ?>
    section
      .bgc-white.mw800.margin-0a
        h2.text-c.main.font-corporate-logo-bold SNS
        .text-c
          div YouTubeチャンネルで、ダイエットやパーソナルジムあるあるを配信中!
          a(href="https://www.youtube.com/@%E3%83%88%E3%83%AC%E3%83%8F%E3%82%B8").youtube
            <i class="fa-brands fa-youtube"></i>
          div チャンネル登録を、お願いします。
        .flexbox-nowrap.margin-tb40.loop-list.max-w100.width-300
          ul.flexbox-nowrap.animetion-list
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/BDpRZ4e3KtQ" title="【ジム選び、なんとなくで決めてない？】パーソナルジム選ぶ時に確認する３つのポイント #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/6qg0SinOHng" title="「パーソナルジムに通うと、なぜ結果が出やすいのか？」 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/EmMLrmExx5Q" title="パーソナルジム選びでやってはいけないNG３選 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/5ZqcA8OBlLI" title="太ってるからジムに行くのは、恥ずかしい#shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/BDpRZ4e3KtQ" title="【ジム選び、なんとなくで決めてない？】パーソナルジム選ぶ時に確認する３つのポイント #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/6qg0SinOHng" title="「パーソナルジムに通うと、なぜ結果が出やすいのか？」 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/EmMLrmExx5Q" title="パーソナルジム選びでやってはいけないNG３選 #shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
            li.yt-shorts-wrapper <iframe width="485" height="862" src="https://www.youtube.com/embed/5ZqcA8OBlLI" title="太ってるからジムに行くのは、恥ずかしい#shorts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="max-width:100%;"></iframe>
    section
      .bgc-white.overflow-hidden
        h2.text-c.main.font-corporate-logo-bold
          span 掲載に関するお問い合わせ<br>
          span 口コミの投稿はこちら
        .flexbox.mw720.margin-0a
          a.btn.bgc-ppink.kirakira(href="https://docs.google.com/forms/d/e/1FAIpQLScsA_er2rSFTm9mfAhMGSZhlvMvoE1RHUk_Y9bN6aMRn0gjNQ/viewform?usp=header" rel="nofollow") 掲載のお問合せ
          a.btn.bgc-bblue.kirakira(href="https://docs.google.com/forms/d/e/1FAIpQLSdFgRt9SuXIyBCA2UEQY2jJTYsAvzshuUyG8c_AEITY7nDwhg/viewform?usp=header" rel="nofollow") 口コミの投稿
    section
      .front-image.margin-0
        img(src!="<?php echo get_template_directory_uri(); ?>/assets/img/common/front10.webp", alt="トレハジ").margin-0
    section
<?php get_footer(); ?>