footer.margin-t20#footer(itemscope itemtype="https://schema.org/Organization")
  // 組織名（Schema）
  meta(itemprop="name" content="株式会社 Simple is Best")

  .footer-inner.padding-t10
    // ロゴ
    .footer-logo.text-c
      a(href="/")
        img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/logo/torehaji_site_logo.png", alt="トレハジ", width="150")
    // サイトマップ
    nav.footer-nav
      ul
        li: a(href="/protein/") プロテイン
        li: a(href="/home-training/") 自宅トレーニング
        li: a(href="/personal-gym/") パーソナルジム
        li: a(href="/about/") トレハジについて
        li: a(href="/privacy-policy/") プライバシーポリシー
        li: a(href="/terms/") 利用規約
        li: a(href="https://forms.gle/NTru2goriF6p6NXo6") お問合せ

    // 運営情報（E-E-A-T強化）
    .footer-company
      p.text-c 運動や生活習慣に関する情報を、わかりやすくまとめています。
        <br />
        | 運営会社：
        span(itemprop="name") 株式会社 Simple is Best
        <br />
          | 運営責任者：
          span(itemscope itemtype="https://schema.org/Person")
            span(itemprop="name") Takeo
            meta(itemprop="jobTitle" content="運営責任者・監修")
            meta(itemprop="worksFor" content="株式会社 Simple is Best")

    // アフィリエイト表記（やさしく整える）
    p.affiliate-note.text-c
      | 当サイトにはアフィリエイト広告が含まれています。
      br
      | Amazonアソシエイトを含む複数のプログラムに参加しています。

    // コピーライト
    .text-c
      small © 2025 Simple is Best / トレハジ All Rights Reserved.

    // reCAPTCHA
    .text-c.recaptcha-note.padding-b20
      | This site is protected by reCAPTCHA and the Google
      a(href="https://policies.google.com/privacy", target="_blank")  Privacy Policy
      |  and 
      a(href="https://policies.google.com/terms", target="_blank")  Terms of Service
      |  apply.
button#top-button(type="button") <i class="fa-solid fa-angle-up"></i><br>TOP
<?php wp_footer(); ?>
</body>
</html>