block variables
footer(class= isFrontPage ? 'l-footer footer-front-page' : 'l-footer')
  section.l-wrapper
                .footer-mobile
                  a#footerbtn(href="/contact")
                    button.btn3.btn3-darkpink 掲載をご検討の方へ
                  div.footer-title 掲載プロテインブランド
                  div.footer-list
                    ul
                      <?php  $terms = get_terms('protein_brand'); foreach ( $terms as $term ) {  echo '<li>'; echo  '<a href="'.home_url().'/protein-brand/'.$term->slug.'">'.$term->name.'</a></li>';}?>
                  div.footer-title トレーニングジム検索
                  div.footer-search-list
                    table.footer-table
                      th 関東
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/tokyo'); ?>") 東京都
                          li
                            a(href!= "<?php echo esc_url('/gym-area/kanagawa'); ?>") 神奈川県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/chiba'); ?>")  千葉県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/ibaraki'); ?>")   茨城県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/gunma'); ?>")   群馬県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/tochigi'); ?>")   栃木県
                      tr
                      th 東海
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/aichi'); ?>")   愛知県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/gifu'); ?>")   岐阜県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/mie'); ?>")   三重県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/shizuoka'); ?>")   静岡県 
                      tr
                      th 関西
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/osaka'); ?>")   大阪府
                          li
                            a(href!= "<?php echo esc_url('/gym-area/hyogo'); ?>")   兵庫県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/kyoto'); ?>")   京都府
                          li
                            a(href!= "<?php echo esc_url('/gym-area/shiga'); ?>")   滋賀県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/nara'); ?>")   奈良県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/wakayama'); ?>")   和歌山県
                      tr
                      th 北海道・東北
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/hokkaido'); ?>")   北海道
                          li 
                            a(href!= "<?php echo esc_url('/gym-area/aomori'); ?>")   青森県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/akita'); ?>")   秋田県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/iwate'); ?>")   岩手県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/miyagi'); ?>")   宮城県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/yamagata'); ?>")   山形県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/fukushima'); ?>")   福島県 
                      tr
                      th 甲信越・北陸
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/yamanashi'); ?>")   山梨県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/nagano'); ?>")   長野県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/niigata'); ?>")   新潟県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/toyama'); ?>")   富山県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/ishikawa'); ?>")   石川県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/fukui'); ?>")   福井県
                      tr
                      th 中国・四国
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/hiroshima'); ?>")   広島県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/okayama'); ?>")   岡山県
                          li.junbityu  鳥取県<br>
                          li
                            a(href!= "<?php echo esc_url('/gym-area/yamaguchi'); ?>")   山口県
                          li.junbityu  島根県<br>
                          li
                            a(href!= "<?php echo esc_url('/gym-area/kagawa'); ?>")   香川県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/ehime'); ?>")   愛媛県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/tokushima'); ?>")   徳島県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/kochi'); ?>")   高知県 
                      tr
                      th 九州・沖縄
                      td
                        ul
                          li
                            a(href!= "<?php echo esc_url('/gym-area/fukuoka'); ?>")   福岡県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/saga'); ?>")   佐賀県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/nagasaki'); ?>")  長崎県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/kumamoto'); ?>")  熊本県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/oita'); ?>")  大分県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/miyazaki'); ?>")  宮崎県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/kagoshima'); ?>")  鹿児島県
                          li
                            a(href!= "<?php echo esc_url('/gym-area/okinawa'); ?>")  沖縄県
                  #logo-footer
                    a(href="/")
                      img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/logo/backkonlogo.png")
                  ul
                    li.footerli 
                      a(href="/company/") 運営会社
                    li.footerli
                      a(href="//privacy-policy/") プライバシーポリシー
                    li.footerli 
                      a(href="/") お問合せ
                  .footer-mobile-copyright
                    small.footer-mobile-copyright ©︎ Simple is Best Corp. All Rights Reserved.
button#top-button(type="button") <i class="fa-solid fa-angle-up"></i><br>TOP
<?php wp_footer(); ?>            
// footer end 