<?php get_header(); ?>
main.l-main.p-page.p-front-page
  article
    section
      .container
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        <?php if ( have_posts() ) : ?>
        <?php while ( have_posts() ) : the_post(); ?>
        div.thum
          <?php the_post_thumbnail(); ?>
        h1 <?php echo get_the_title(); ?>
        div 
          <?php the_content(); ?>
        <?php endwhile; //繰り返し処理終了 ?>
        <?php else : //投稿がない場合 ?> 記事が見つかりませんよ。
        <?php endif; //条件分岐終了 ?>
<?php get_footer(); ?>