<?php /** Template Name:publish-request */ get_header(); ?>
main
  article
    section
      .container
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        div.page_base
          h1.center 掲載のお申し込み
          div.div-nomal 掲載に費用は必要ございませんので、お気軽に以下フォームよりお申し込みください。
          div.page_inner <?php echo do_shortcode('[contact-form-7 id="63c45cd" title="publish-request"]'); ?>
          script.
            document.addEventListener('wpcf7mailsent', function(event) {
              location = 'http://bulkup.local/';
            }, false);
<?php get_footer(); ?>