<?php /** Template Name:publish-request */ get_header(); ?>
main
  article
    section
      .container
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        div.page_base
          h1.center 掲載のお申し込み完了
          div.div-nomal 掲載をご希望いただきありがとうございます。順次対応いたしますので、お待ち下さい。よろしくお願いいたします。
<?php get_footer(); ?>