<?php get_header(); ?>
main
  article
    section
      .container
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        div.page_base
          <?php if ( have_posts() ) : ?>
          <?php while ( have_posts() ) : the_post(); ?>
          h1.center <?php the_title(); ?>
          div.page_inner <?php the_content();?>
          <?php endwhile; //繰り返し処理終了 ?>
          <?php else : //投稿がない場合 ?> 記事が見つかりません。
          <?php endif; //条件分岐終了 ?>
<?php get_footer(); ?>