<?php get_header(); ?>
block pageContent
  article
    section
      .container 
        .gymmain-waku
          div.gymbrand-waku
            div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
            h1 <?php single_term_title(); ?>を選ぶ理由・メリット・デメリットを解説
            div.post-thumbnail.imgcenter
              img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/beyond/beyond1.webp" alt="BEYONDを選ぶ理由")
            div 
              p BEYOND（ビヨンド）は、痩せるだけでなく、その先の”カッコイイ、美しい”自分が理想とする体を実現することを目標にしているパーソナルジムです。
              p 糖質制限、少食ダイエット、根拠のないトレーニングを推奨しておらず、BEYOND独自の方法で、継続ができて、リバウンドしにくい「体作り」をしていきます。
              p ここでは具体的にBEYONDでどのような食事管理や、指導がされるのか、気になる金額、トレーニングについて解説していきます。
            div.brandtoc#menu 目次
              ul
                li
                  a(href="#reason") BEYONDを選ぶ理由
                li 
                  a(href="#merit") BEYONDを選ぶメリット
                li 
                  a(href="#demerit") BEYONDを選ぶデメリット
                li 
                  a(href="#recommend") BEYONDがおすすめな人
                li 
                  a(href="#shoplist") BEYONDの店舗一覧
            h2.gym-brand#reason BEYONDを選ぶ理由
            div 
              h3.gym-brand ストレスフリーな食事管理
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/beyond/beyond2.webp" alt="ストレスフリーな食事管理")
              div.brandmain-nomal こんな経験はありませんか？
                ul 
                  li 「食べてないのに、痩せない」
                  li 「糖質制限をすると痩せるけど、食事を戻すとすぐに元通りになってしまう」
                  li 「数日は我慢できるけど、我慢できなくなって食べてしまう」
              div
                p WEBやYoutubeで見つけたダイエット情報をもとに、ダイエットにチャレンジして失敗していませんか？
                p 糖質制限・プチ断食・これ食べるだけダイエット・この運動するだけダイエットなどなど多数ありますが、継続するのが難しいのではないでしょうか？
                p BEYONDは”継続できる”ダイエット、”リバウンドしにくい”体作り、をおこなっていきますので、極端な制限や少食を指導されることはありません。
                p 現在の食生活が原因で太ってしまう方がほとんどなので、もちろん制限や管理が入ると、しんどいと感じる方もいるかもしれませんが、それはそのはず、今までの太ってしまう食事から通常食事、痩せる食事に変わったので、カロリーが下がっていて食事での満足度も下がってしまうからです。
                p これまでの食生活が間違っていて、正しい状態になった！ので、正しい状態に慣れる必要がありますので、慣れるまでの間はしんどいと思う方もいるかもしれません。
                p ただBEYONDでは、糖質制限で極端に減らしすぎるのではなく、糖質を摂るタイミングや種類を適切に管理する「糖質コントロール」と「間食」を活用してタンパク質の摂取量を補う指導をしてくれます。
                p 太ってしまう食生活から正常な食生活、痩せる食生活へと変わるに当たって、できるだけストレスを感じにくい指導をしてくれます。ダイエットなのに間食があったり、糖質も摂取できます。
              h3.gym-brand 選りすぐりのトレーナー
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/beyond/beyond3.webp" alt="本格的なトレーナー")
              div
                p BEYONDのトレーナーさんは、競技大会に入賞したり、出場しているような本格的な方が多いです。
                p コンテストで日本一になった方が５２名（2022年1月時点）もいます。
                p トレーニングに詳しいことはもちろんですが、自身もしっかりトレーニング経験があり、また、現在もトレーニング継続中の方がほとんどですので、初心者から上級者まで幅広いボディメイクに対応できます。
                p 筋トレは同じ動作や種目でも、チカラの入れ方や動作する時のフォームによって負荷がかかるポイントが変わってしまったり、本来鍛えたい場所に効いていないということもありがちです。
                p もしあなたが、以下のようなことで悩んでいるなら、トレーナーに指導を受ければすぐに解決できるでしょう。
              div.brandmain-nomal
                ul 
                  li そもそも筋トレって何をすればいいの？
                  li 筋トレしてもなかなか筋肉がつかない、引き締まっていかない
                  li 筋トレすると関節が痛くなる
                  li 鍛えたい場所と違う場所が筋肉痛になる
                  li チカラが入っている感覚がわからない
              dvi 
                p トレーナーとは二人三脚でダイエットに取り組んでいきますので、トレーナーの人柄はとても重要になってきます。
                p BEYONDのトレーナーの採用基準の必須条件は以下３つになっています。
              div.brandmain-good
                ul
                  li お客様を大切にするマインドのある方
                  li 誠実かつ熱意のある方
                  li ボディメイクに自信のある方
              div  
                p 人柄を重視した採用になっています。
                p 三番目のボディメイクに自信のある方については、ボディメイクをしていくうちにぶつかる困難を乗り越えた経験があるということになります。
                p あなたのこの先のダイエットでしんどい時や苦しい時に、同じような経験をしたことがある人が支えてくれると心強いですよね。
                p BEYONDが気になる方は、無料体験をすることをオススメします。
            h2.gym-brand#merit BEYONDを選ぶメリット
              h3.gym-brand 入会金が０円！回数券のプランもある
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/beyond/beyond4.webp" alt="入会金０円")
              div
                p 無料体験をしてみて、よかったら入会したいけど、高い入会金を払って、いきなり何ヶ月も定期的に通い続ける自信がない。
                p そんな方でも安心！
                p BEYONDは入会金が無料に設定されています。どのプランを利用する時も、入会金は０円です。
                p また、通常プラン以外に回数券があり、10回分から販売されています。通常2ヶ月で16回、3ヶ月で24回のように期間と回数が決まっているプランしかないので、通えなくなる可能性があると入会を躊躇してしまいますが、BEYONDの回数券であれば、そんな心配は無用です。
              h3.gym-brand アフターケアが充実
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/beyond/beyond5.webp" alt="充実のアフターケア")
              div 
                p 短期集中コースや回数券を終えた方は、月額制でジムに通えるマンスリーコースも用意されています。
                p もちろん回数券を購入することも可能です。
                p ダイエットが終了するとジム通いをやめてしまい、ダイエット期間我慢していた食欲が爆発してしまい、すぐにリバウンドしてしまうのではないか？と心配な方も、その後も同じジムに通い続けることができるので、安心です。
                p パーソナルジムの多くは、この月額制や回数券という仕組みがなく、期間と回数が決まっているコースを選ばないといけませんが、BEYONDは”継続できる”を目指しているので、ダイエット期間終了後のフォローもしっかりしています。
                p 補足になりますが、入会した方の93％がアフターケアとしてBEYOND通いを継続しているようです。
            h2.gym-brand#demerit BEYONDを選ぶデメリット
              h3.gym-brand 料金が高額
              div 
                p BEYONDのライフプランニングコースは、16回（2ヶ月）281,600円（税込）
                p （週2回のトレーニングをした場合の目安期間）
                p 一般的なパーソナルジムはトレーニングだけで約11,000円（税込）の設定が多いです。
                p トレーニングだけ17万円くらいの価値があることになります。
                p ライフプランニングコースには以下のような内容が含まれています。
                div.brandmain-good
                  ul ライフプランニングコースに含まれるサービス内容
                    li マンツーマンでのトレーニング指導
                    li 継続して続けられる無理のないプラン作成
                    li リバウンドしづらい体質づくり
                    li 毎日のパーソナル食事管理
                    li 毎日の生活習慣アドバイス
                    li アフタープロテイン
                    li トレーニングウェア上下
                    li タオル・アメニティ
                p 店舗によってはレンタルシューズもあり、ほとんど手ぶらで通うことができるのも、継続しやすいポイントです。
                p 金額だけを見ると高額に感じますが、上記のサービス内容を考えると良心的な金額設定ではないでしょうか？
                p またこの金額を払って、BEYONDでトレーニング・食事管理をすれば、理想の体になれる！と考えるともしかすると安い！と思うかもしれません。
                p 本来、理想の体型はお金で買うことはできませんが、BEYONDに支払えば、理想の体型になれる道をしめしてくれて、ゴールするまで伴走してくれるので、お得かもしれません。
            h2.gym-brand#recommend BEYONDがおすすめな人
            div 
              p BEYONDはこんな方におすすめです。
              div.brandmain-nomal
                ul
                  li ダイエットに失敗したことがある人
                  li 食事制限もトレーニングも継続するのが苦手な人
                  li ダイエットを応援してくれる人がまわりにいない人
                  li 健康診断で何度も肥満と診断されている人
                  li 本気で痩せたい人
                  li 理想の体型になりたい人
              p 上記のどれかに当てはまる方には、BEYONDが向いているかもしれません。
              p 店舗は明るい雰囲気のところが多く、清潔感があって通いやすいです。
              p BEYONDのホームページの店舗のページに、トレーナーさんの顔写真や店舗の画像が掲載されていますので、通うことを検討している方はそちらを確認してみるとイメージしやすいかもしれません。
              p 百聞は一見にしかず、店舗に実際に行ってみるのが一番雰囲気がわかりやすいので、興味がある方は無料体験に行ってみることをおすすめします。
              h2.gym-brand#shoplist <?php single_term_title(); ?>店舗一覧<?php if(have_posts()): ?><?php while(have_posts()): the_post(); ?>
              div.gymlist-caset
                div.gymlist-name
                  a(href!= "<?php the_permalink(); ?>") <?php the_field('gym_name'); ?>
                div 住所：<?php the_field('address'); ?>
                div アクセス:<?php the_field('access'); ?>
              <?php endwhile;?>
              <?php endif;?>
            div <?php get_template_part('functions/pagenation'); ?>  
<?php get_footer(); ?>