<?php get_header(); ?>
block pageContent
  article
    section
      .container 
        .gymmain-waku
          div.gymbrand-waku
            div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
            h1 <?php single_term_title(); ?>を選ぶ理由・メリット・デメリットを解説
            div.post-thumbnail.imgcenter
              img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/rizap/rizap0.webp" alt="RIZAPを選ぶ理由")
            div 
              p ライザップは日本のパーソナルトレーニングジムの先駆けで、インパクトのあるCMでもはや知らない人はいないのでは？と思うほどの知名度と規模になっています。
              p 効果があるかもしれないけど、費用が高く、入会するにはハードルが高い印象の方も多いのではないでしょうか？
              p 費用と効果が見合うのか？あなたに合うサービス・ジムなのかを判断するのにこのページの情報がお役に立てると幸いです。
              p 理想の体型を目指して頑張りましょう！
            div.brandtoc#menu 目次
              ul
                li
                  a(href="#reason") RIZAPを選ぶ理由
                li 
                  a(href="#merit") RIZAPを選ぶメリット
                li 
                  a(href="#demerit") RIZAPを選ぶデメリット
                li 
                  a(href="#recommend") RIZAPがおすすめな人
                li 
                  a(href="#shoplist") RIZAPの店舗一覧
            h2.gym-brand#reason RIZAPを選ぶ理由
            div 
              h3.gym-brand 食事を専属トレーナーが指導！
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/rizap/rizap1.webp" alt="180食分の食事指導")
              div 
                p ライザップには、トレーニングのイメージが強いかもしれませんが、ダイエットやボディメイクにおいて、食事管理がとても重要です。
                p １日３食、２ヶ月で全180食分の食事を専属トレーナーが指導。正しい知識・食習慣が身につきます。
                p 摂取カロリー＜消費カロリー
                p この方程式が成立していれば、体重は減っていきます。
                p 「よし！カロリーを抑えるために、食べる量を減らそう！あれもやめて、これも食べない！」と考えてしまいます。
                p 確かにこの方法でも体重はへるのですが、食欲はとても強い欲求ですので、負ける戦いに挑んでいるようなものです。
                p 食欲は人間の３大欲求で「食欲・睡眠欲・性欲」に入るほど強い欲求です。それに一人で立ち向かう！しかも、ただ食べる量を減らすという単純な方法だけでです。
                p 「食欲に負けて爆食してしまった・・・」
                p 「食べてないのに、痩せない・・・」
                p というような壁にぶつかってしまいます。
                p RIZAPは食べる物の栄養バランスやカロリーを計算し食事を管理してくれます。成功例は数しれないライザップが、食欲に単純に立ち向かうのではなく、コントロールしながら、痩せる方法を教えてくれます。
              h3.gym-brand トレーナーの質が高い
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/rizap/rizap2.webp" alt="質の高いトレーナー")
              div.brandmain-nomal
                ul 
                  li 「トレーナーはどこも同じで、頑張れ！と励ましながら、無理やり回数やらせたり、重トレーニングをやらせるだけでしょ！？」
                  li 「トレーナーにすごく追い込まれて、地獄のような苦しみをあじわうのが、トレーニング！」
                  li 「トレーナーはプレッシャーをかけてやらせる嫌な人！」
              div
                p そんなイメージを持っている方もいるかもしれません。
                p トレーニングが楽とは言いませんが、トレーナーは正しいフォームで最短で効果を上げるための手助けをしてくれる存在です。
                p トレーニングメニューを考えたり、正しいフォームを教えてくれたり、一人では動かせなくなった時に、補助をしてくれます。
                p しんどいトレーニングを一人で、もくもくと何ヶ月も続けるのは、大変です。しかも食事を減らして”腹ペコの状態で！”です。
                p 正しいフォームを教わることで、怪我しにくく、同じ回数のトレーニングをしていても効果を上げることができます。
                p 例えば、水泳はどの泳ぎ方でも、フォームがきれいな人が、あまり疲れないのに、とても早く泳げるように、トレーニングでも正しいフォームが一番効果が高く、効率がよいのです。
                p RIZAPのトレーナーは採用された後に、192時間に及ぶ研修を受けています。なんと！1日8時間研修したとして、24日分の時間です。
                p 研修の内容は、ダイエット、運動、栄養学、解剖学、生理学、心理学に至るまで深い知識を習得している専門家です。
                p RIZAPのトレーナーに求められる人物像は以下の3つです
                div.brandmain-good
                  ul
                    li 技術や専門知識をきちんと習得し、プロのトレーナーとして成長できる方
                    li 人とコミュニケーションをとること、体を動かすことが好きな方
                    li 人と接することが好き、人を喜ばせることが好きな方
                p トレーナーと気が合わなかったらどうしようと不安な方は、一度無料体験してみることをおすすめします。
              h3.gym-brand 完全個室・完全予約制でRIZAP独自のトレーニング法
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/rizap/rizap3.webp" alt="完全個室＆完全予約制")
              div 
                p 一般的なジムでは人目が気になってしまう方でも、ライザップは完全個室、完全予約制ですので、極力他の人に合うことが少ないのも安心して通えるポイントです。
                p 特にトレーニング中を誰かに見られることはありませんので、集中して取り組めます。
                p 約18万人のボディメイク実績によって築き上げられたライザップ独自のとレージング法で無理なく取り組めます。
                p 「脂肪は減らす、筋肉はへらさない。」とレージング法で、しなやかで美しく無駄のない体型を目指していきます。
                p お客様が挫折しないように、年齢・体力・目標に合わせてカスタマイズしてくれるので、安心してトライしてみましょう！
            h2.gym-brand#merit RIZAPを選ぶメリット
              h3.gym-brand 30日間コース代金全額返金保証
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/rizap/rizap4.webp" alt="全額返金保証")
              div
                p 安心してダイエットの第一歩を踏み出すために、全額返金制度が導入されています。
                p プログラム開始から30日間はいかなる理由でも、納得できない時は、コース代金を全額返金してくれます。
              div.brandmain-nomal 返金対象になる理由の例
                ul
                  li 引っ越しが決まったから通えない
                  li 仕事が忙しく、時間がつくれなくなった
                  li 思っていたプログラムと違った
                  li 家族の介護に集中したい
                  li 剣魂することになった
                  li 転勤がきまった
              div 注意事項として以下が条件になります。
                p 入会時に契約したコースの初回ご利用日から30日間。
                p 返金の手続きは、来店のうえ書面で行うものとし、電話、メール等の手段による手続きには応じかねます。
                p 30日間全額返金保証を利用すると、再入会できません。
              h3.gym-brand 電話栄養サポート相談<br>（入会者無期限サポート）
              .gymbrand-img 
                img(src!= "<?php echo get_template_directory_uri(); ?>/assets/img/gym/rizap/rizap5.webp" alt="電話栄養サポート相談")
              div 
                p トレーニングをしている2ヶ月は全180食分の食事を専属トレーナーが指導してくれるので、問題ありません。
                p また、2ヶ月間で食事に関する知識や太りにくい食習慣もわかるようになりますので、気をつけていれば問題ないのですが、食事の管理や栄養バランスについて不安になることもあるかもしれません。
                p そんな時、頼りになるのが、電話栄養サポートです。
                p 栄養士と管理栄養士の視点から専門的なアドバイスを行ってくれます。
                p 「なかなか体重が落ちない」「便秘気味・・」など体調面での不安や悩みを相談できます。
                p トレーニング期間が終了すると何もフォローしてくれないパーソナルジムが多いので、とても安心して取り組めます。
              h3.gym-brand カウンセラーとカウンセリングがある！
              div
                p 初回カウンセリングや入会2週間後、その後は月に1回のペースでカウンセリングがあります。
                p トレーナーには言いにくいことや、相談事があれば、カウンセラーに伝えることができます。
                p すべてのコミュニケーションがトレーナーだけにならないので、安心できます。
            h2.gym-brand#demerit RIZAPを選ぶデメリット
              h3.gym-brand 料金が高額
              div 
                p RIZAPのベーシックプランで、16回（2ヶ月）382,800円（入会金55,000円・コース料金327,800円）（税込）
                p （週2回のトレーニングをした場合の目安期間）
                p RIZAPは、料金が高額ですが、これまで説明してきたポイントやメリットを考えれば、逆に安く提供するのが難しいこともある程度理解できる部分はあるかと思います。
                div.brandmain-good
                  ul ベーシックコースに含まれるサービス内容
                    li 定期カウンセリング（全3回）
                    li 専属トレーナーによるトレーニング指導
                    li 食事アドバイス
                    li 電話栄養サポート相談
                    li トレーニング用Tシャツ・短パン無料貸出し
                    li バスタオル・フェイスタオル・アメニティ
                    li ライザップオリジナルウォーター
                    li chocoZAP通い放題
                p お金を貯めてから始めることもできますが、分割払いも用意されているので、一括で支払いができなくても、プログラムを始めることができます。
                p 分割金額を2回目以降9,900円（税込）/月にすることも可能です。
                div.brandmain-box ■支払い例■
                  p お支払い例・60回（60ヶ月）払い 頭金 5,000円（税込）の場合<br>初回お支払額（1回目）13,806円（税込）<br>月々お支払額（59回）9,900円（税込）<br>お支払総合計 602,906円（税込）<br>支払の回数及び期間・最大60回払い（最大60ヶ月）<br>実質年率　19.8%<br>一部例外あり。
            h2.gym-brand#recommend RIZAPがおすすめな人
            div 
              p RIZAPはこんな方におすすめです。
              div.brandmain-nomal
                ul
                  li ダイエットに失敗したことがある人
                  li 健康診断で何度も肥満と診断されている人
                  li 本気で痩せたい人
                  li 食欲をコントロールすることが苦手な人
                  li 身体を動かすのが面倒な人
              p 上記のどれかに当てはまる方には、RIZAPが向いているかもしれません。
              p カウンセリングもあり、専属のトレーナーも付きますので、一人でダイエットにチャレンジしているのではなくなります。
              p 味方がいることはとても心強いですし、身体の変化や気持ちの変化に気づいてくれます。
              p 停滞している時も支えてくれるので、一人でダイエットをしていると挫折してしまいそうなタイミングも、きっと乗り越えることができます。
              h2.gym-brand#shoplist <?php single_term_title(); ?>店舗一覧<?php if(have_posts()): ?><?php while(have_posts()): the_post(); ?>
              div.gymlist-caset
                div.gymlist-name
                  a(href!= "<?php the_permalink(); ?>") <?php the_field('gym_name'); ?>
                div 住所：<?php the_field('address'); ?>
                div アクセス:<?php the_field('access'); ?>
              <?php endwhile;?>
              <?php endif;?>
            div <?php get_template_part('functions/pagenation'); ?>  
<?php get_footer(); ?>