@use "../foundation/import" as *;

/* -------------------------------
 *  html body
 * ---------------------------- */
/*基本的な設定*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Noto Sans JP';
  body {
    width: inherit;
    height: inherit;
    min-height: 100vh;
    font-family: var(--default-font-family);
    font-weight: var(--default-font-weight);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    color: var(--default-color);
    font-feature-settings: 'palt';
  }
  @include media-query(sm) {
    body {
      font-size: responsive-font-size(16, $screen-sm);
    }
  }
  @include media-query(xs) {
    body {
      font-size: var(--font-M);
    }
  }
}
body {
  margin: 0;
  background-color: $white;
  color: $black;
  font-family: 'Noto Sans JP';
  line-height: 1;
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased; //なめらかにする
  -moz-osx-font-smoothing: grayscale; //Firefoxなめらかにする
  -webkit-text-size-adjust: none; //縦横で自動調整をオフにする
}
/*基本的な設定*/
* {
  box-sizing: border-box;
}

/* -------------------------------
 *  base layout
 * ---------------------------- */

/* -- config ------------------ */
$header-min-height: auto;
$header-max-height: auto;
$footer-min-height: auto;
$footer-max-height: auto;

/* -- layout ------------------ */
.l-base {
  width: inherit;
  height: auto !important;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template:
    'header' minmax($header-min-height, $header-max-height)
    'main' 1fr
    'footer' minmax($footer-min-height, $footer-max-height)
    / 100%;
}
.pcnone {
  display: none !important;
}
@media only screen and (max-width: 480px) {
  .spnone {
    display: none !important;
  }
  .pcnone {
    display: block !important;
  }
}
$mobile-breakpoint: 480px;
