@use "../foundation/import" as *;

/* -------------------------------
 *  main
 * ---------------------------- */
.l-main {
  grid-area: main;
}

/* -------------------------------
 *  aside
 * ---------------------------- */
.l-aside {
  // add style
}
.content {
  p {
    margin: 0 0 2em 1em;
    line-height: 2em;
  }
}
