@use "../foundation/import" as *;
@use "../colorlayout" as *;

/* -------------------------------
 *  footer
 * ---------------------------- */
.l-footer {
  grid-area: footer;
}
.footer-mobile {
  background-color: $darkblue;
  margin-top: 20px;
  padding: 10px 0;
  color: $white;
  box-shadow: 0 0px 8px gray;
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    li {
      padding: 5px 5px 0;
    }
  }
}
#logo-footer {
  text-align: center;
  height: auto;
  margin-top: 20px;
  img {
    max-width: 50%;
    margin: auto;
  }
}
.footer-mobile-copyright {
  text-align: center;
}
.footerli {
  a {
    text-decoration: none;
  }
}
.footer-title {
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  margin-top: 15px;
}
.footer-table {
  border: none;
  margin-left: 15px;
  tr {
    border: none;
  }
  th {
    border: none;
    background-color: $white;
  }
  td {
    border: none;
  }
}
.footer-list {
  margin-left: 15px;
  text-align: left;
  ul {
    justify-content: center;
  }
}
.footer-search-list {
  margin-left: 15px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  ul {
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 0;
  }
  p {
    font-weight: 700;
  }
}
.footer-table {
  th {
    background-color: $white;
    color: $black;
    text-align: center;
    width: 100px;
    border: solid 5px $darkblue;
  }
  td {
    vertical-align: middle;
  }
  ul li {
    padding: 0px 5px;
  }
}
