@use "../foundation/import" as *;

/* -------------------------------
 *  footer
 * ---------------------------- */
#footer {
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    li {
      padding: 5px 5px 0;
      a {
        text-decoration: none;
      }
    }
  }
  img {
    width: 150px;
  }
}
.l-footer {
  grid-area: footer;
}
.grecaptcha-badge {
  visibility: hidden;
}
body.front-page footer {
  background-color: #261711;
  color: $white;
}
.affiliate-note {
  font-size: 1em;
  color: #777;
  line-height: 1.6;
  margin-bottom: 10px;
}
footer {
  background-color: $lightglay;
}
