<?php get_header(); ?>
block pageContent
  article
    section
      .container 
        .main-waku
          div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
          h1 全国のフィットネスジム・トレーニングジム検索
          div.search
            div.searchta
              <?php include("gym-searchform.php"); ?>
          h2.kon 全国のフィットネスジム・トレーニングジム一覧
            <?php if(have_posts()): ?><?php while(have_posts()): the_post(); ?>
          div.gymlist-waku
            div.gymlist-gymkind
              ul
                <?php foreach(get_field('gym_kind')as $data):?>
                li <?php echo $data;?>
                <?php endforeach;?>
            div.gymlist-caset
              div.gymlist-name
                a(href!= "<?php the_permalink(); ?>") <?php the_field('gym_name'); ?>
              div 住所：<?php the_field('address'); ?>
              div アクセス:<?php the_field('access'); ?>
            div.setsubi
              ul <?php foreach(get_field('facility')as $data):?>
                li <?php echo $data;?>
                <?php endforeach;?>
            div.gymlist-detail
              div.detailthum
                <?php if(get_field('gym_photo01')):?>
                img(src!="<?php the_field('gym_photo01'); ?>" alt!="<?php the_field('gym_name'); ?>の外観")
                <?php endif; ?>
              div.detailpoint-waku
                ul.recpoint <?php if (!empty(get_field('point1_title'))) :?>
                  li <?php the_field('point1_title'); ?><?php endif; ?>
                    <?php if (!empty(get_field('point2_title'))) :?>
                  li <?php the_field('point2_title'); ?><?php endif; ?>
                    <?php if (!empty(get_field('point3_title'))) :?>
                  li <?php the_field('point3_title'); ?><?php endif; ?> 
              <?php if (!empty(get_field('aflink'))) :?>
            div.gymlist-bottum
              button.btn2.btn2-blue
                a(href!= "<?php get_field('aflink'); ?>") 見学やお申込みはこちらから
              button.btn2.btn2-orange
                a(href!= "<?php get_field('aflink'); ?>") 公式サイトでもっと詳しく
              <?php endif; ?>
          <?php endwhile;?>
            <?php endif;?>  
          div <?php get_template_part('functions/pagenation'); ?>
<?php get_footer(); ?>