<?php /** * Template Name: トレーニングジムの選び方 *//** * Template Post Type: magazine */  get_header(); ?>
block pageContent
  article
    section
      .container 
        div.breadcrumb <?php get_template_part('functions/breadcrumb'); ?>
        h1.gym <?php echo get_the_title(); ?>
        div 運動しようと思い立って、ジムを探し始めたあなたは、素晴らしい第一歩を踏み出そうとしています。<br>ダイエットやボディメイクで人生が変わったという方はたくさんいます！<br>その第一歩がジム選びです。<br>どんなジムがあり、どのようにジムを選んでいくのか考えていきましょう。<br>初めてジムを選ぶ方や以前、ジムに通っていたけど、長続きしなかった方に、最適なジムを選んで自分が思い描く身体を目指して頑張りましょう！
        h2.kon トレーニングジムで、何をすればいいの？
        div ダイエットや運動不足の解消、ボディメイクなど目的があり、ジムを探し始めたと思います。<br>でも、<br>ジムに行って何をすればいいの？<br>という方も多いのではないでしょうか？
        div おおまかにですが、目的別にジムで何をするか以下のようになります。
        div.example
          ul
            li 運動不足の解消<br>&emsp;&nbsp;有酸素運動 or 筋力トレーニング
            li ダイエット<br>&emsp;&nbsp;有酸素運動 and 筋力トレーニング
            li ボディメイク<br>&emsp;&nbsp;筋力トレーニング
        h2.kon トレーニングジムで、できること
        div トレーニングジムで、できることはたくさんあります。たとえば以下のようなことができます。
        div.search-list
          ul.protein
            li 有酸素運動
            li 筋力トレーニング
            li ストレッチ
            li ヨガ
            li グループプログラム
            li パーソナルトレーニング
            li 加圧トレーニング
            li マッサージ
            li エステ
            li プール
            li サウナ
            li お風呂
            li シャワー
        div グループプログラムとは、大きな個室で、インストラクターさんの動きをみんなで真似をします。<br>種類は豊富でヨガ・ダンス・空手・ボクシング・など様々なものが用意されています。<br>グループプログラムでジム仲間ができる方も多く、プログラムを目的に通っている方もいらっしゃいます。
        h2.kon やりたいことができるところを選ぶ
        <?php the_content(); ?>
    section 
block append bodyScript
<?php get_footer(); ?>