@use "../../foundation/import" as *;
@use "../../colorlayout" as *;

/* -------------------------------
 *  common
 * ---------------------------- */

/* -------------------------------
 *  02_******
 * ---------------------------- */
h3.page {
  margin: 15px 0 0;
}
ul.page {
  li {
    list-style: square;
  }
}
ul.page-privacy {
  margin: 1em 0 1em 1.5em;
  list-style: disc;
  li {
    margin: 0.5em 0;
    display: list-item;
    list-style: disc;
  }
}
.page_base {
  margin: 30px auto;
  padding: 36px 42px;
  border-radius: 10px;
  box-shadow: 0 0 8px gray;
  //background-color: #fffbfa;
  //border: solid 1px #fffbfa;
  @media only screen and (max-width: 767px) {
    padding: 24px 0;
  }
}
.page_inner {
  padding: 0 36px;
  @media only screen and (max-width: 767px) {
    padding: 0 12px;
  }
}
//ジム特集ページ
h1.gymp {
  border-left: solid 10px $orange;
  border-bottom: 10px solid $darkblue;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
}
h2.gymp {
  border-left: solid 10px $darkblue;
  padding-left: 20px;
}
h1.center {
  text-align: center;
}
