@use "../../foundation/import" as *;
@use "../../colorlayout" as *;

/* -------------------------------
 *  box components
 * ---------------------------- */

.gym-gaiyou {
  margin-left: 20px;
  margin-bottom: 20px;
  @media only screen and (max-width: 480px) {
    margin-left: 0;
  }
}
.point-box1-title {
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 2px 9px;
  background: $orange;
  color: $white;
  padding: 0.3em 0.5em;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
}
.point-box1 {
  margin: 0 0 2em 0;
  border: solid 3px $orange;
  border-radius: 0 10px 10px 10px;
  .box-content {
    padding: 15px;
  }
}
.point-box2-title {
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 2px 9px;
  background: $blue;
  color: $white;
  padding: 0.3em 0.5em;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
}
.point-box2 {
  margin: 0 0 2em 0;
  border: solid 3px $blue;
  border-radius: 0 10px 10px 10px;
  .box-content {
    padding: 15px;
  }
}
