@use "../../foundation/import" as *;

/* -------------------------------
 *  box components
 * ---------------------------- */

.gym-gaiyou {
  margin-left: 20px;
  margin-bottom: 20px;
  @media only screen and (max-width: 480px) {
    margin-left: 0;
  }
}
