@use "../../foundation/import" as *;
@use "../../colorlayout" as *;
/* -------------------------------
 *  button components
 * ---------------------------- */
/*ボタンの設定*/
button {
  img {
    height: auto;
    width: auto;
  }
}
.btn1 {
  text-align: center;
  border: 1px solid $black;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.4s ease 0.1s;
  margin-bottom: 20px;
  :hover {
    transform: translateY(30px);
  }
  a {
    text-decoration: none;
  }
  &.main {
    background-color: $main;
  }
  &.sub {
    background-color: $sub;
  }
  &.yel {
    background-color: $yellow;
  }
  &.darkblue {
    background-color: $darkblue;
  }
  &.blue {
    background-color: $blue;
  }
  &.orange {
    background-color: $orange;
  }
  &.green {
    background-color: $green;
  }
  &.glay {
    background-color: $glay;
  }
}

//長めのボタン
.btn2 {
  text-align: center;
  color: $white;
  border: 1px solid $glay;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  width: 40%;
  transition: all 0.4s ease 0.1s;
  margin-bottom: 20px;
  @media only screen and (max-width: 480px) {
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 10px;
  }
  :hover {
    transform: translateY(30px);
  }
  a {
    text-decoration: none;
  }
  &.btn2-darkblue {
    background-color: $darkblue;
  }
  &.btn2-yel {
    background-color: $yellow;
  }
  &.btn2-blue {
    background-color: $blue;
  }
  &.btn2-orange {
    background-color: $orange;
  }
  &.btn2-iherb {
    background-color: $green;
  }
  &.btn2-amazon {
    background-color: $amazon;
  }
  &.btn2-rakuten {
    background-color: $rakuten;
  }
  &.btn2-yahoo {
    background-color: $yahoo;
  }
  &.btn2-official {
    background-color: $official;
  }
}
//短めの楕円ボタン
.btn3 {
  text-align: center;
  color: $white;
  border-radius: 99px;
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.4s ease 0.1s;
  @media only screen and (max-width: 480px) {
    width: 100%;
    padding: 1rem 1rem;
    margin: 0 20px 10px;
  }
  :hover {
    transform: translateY(30px);
  }
  a {
    text-decoration: none;
  }
  &.darkblue {
    background-color: $darkblue;
  }
  &.btn3-yel {
    background-color: $yellow;
  }
  &.btn3-blue {
    background-color: $blue;
  }
  &.btn3-orange {
    background-color: $orange;
  }
  &.btn3-lightblue {
    background-color: $lightblue;
  }
  &.btn3-darkpink {
    background-color: $darkpink;
  }
  &.btn3-iherb {
    border: solid 3px $iherb;
    color: $iherb;
    min-width: 300px;
    margin: 5px 0;
  }
  &.btn3-amazon {
    border: solid 3px $amazon;
    color: $amazon;
    min-width: 300px;
    margin: 5px 0;
  }
  &.btn3-rakuten {
    border: solid 3px $rakuten;
    color: $rakuten;
    min-width: 300px;
    margin: 5px 0;
  }
  &.btn3-yahoo {
    border: solid 3px $yahoo;
    color: $yahoo;
    min-width: 300px;
    margin: 5px 0;
  }
  &.btn3-official {
    border: solid 3px $official;
    color: $official;
    min-width: 300px;
    margin: 5px 0;
  }
}
#headerbtn {
  position: absolute;
  right: 20px;
  //top: 77px;
  @media only screen and (max-width: 480px) {
    display: none;
  }
}
#footerbtn {
  display: none;
  @media only screen and (max-width: 480px) {
    display: block;
    max-width: 60%;
    margin: 10px auto 0px;
  }
}
.btn-basyo {
  margin-top: 30px;
}
.btn-center {
  margin: 30px auto 10px;
}
.btn-search {
  margin: 15px 0px 15px 15px;
  @media only screen and (max-width: 480px) {
    width: 90%;
  }
}
button#top-button {
  display: none;
  text-align: center;
  color: white;
  background-color: #03466ecc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 25px;
  font-size: 1.6rem;
  font-weight: 700;
  position: fixed;
  z-index: 9999;
  right: 30px;
  bottom: 30px;
  @media only screen and (max-width: 480px) {
    width: 50px;
    height: 50px;
    line-height: 10px;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
a {
  text-decoration: none;
  :hover {
    cursor: pointer;
  }
}
$shadow-base: 0 4px 14px rgba(0, 0, 0, 0.06);
$shadow-hover: 0 8px 24px rgba(0, 0, 0, 0.1);
.btn {
  text-align: center;
  border-radius: 999px;
  padding: 1.2rem 4.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.4s ease 0.1s;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px $glay;
  a {
    cursor: pointer;
  }

  &:hover {
    box-shadow: $shadow-hover;
    transform: translateY(-3px);
  }
}
.border-black {
  border: 1px solid $black;
}
.btn-big {
  text-align: center;
  border-radius: 999px;
  padding: 1.5rem 6rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.4s ease 0.1s;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px $glay;
  a {
    cursor: pointer;
  }
}
//↓フロントページの駅ボタン
.btn4 {
  text-align: center;
  border-radius: 999px;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.4s ease 0.1s;
  margin-bottom: 20px;
  text-align: left;
  width: 150px;
  a {
    cursor: pointer;
  }
  @media only screen and (max-width: 480px) {
    font-size: 1.2rem;
    width: 120px;
  }
}
.inline {
  display: inline-block;
}
.width20 {
  width: 20%;
}
.width35 {
  width: 35%;
}
.width50 {
  width: 50%;
}
.width80 {
  width: 80%;
}

.kirakira {
  position: relative;
}
.kirakira::after {
  animation: 4s 0s shine linear infinite;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 75%
  );
  content: '';
  height: 100%;
  left: -20%;
  position: absolute;
  top: 0;
  transform: skewX(-15deg);
  width: 20%;
}
.kirakira:hover {
  color: #fff;
}
@keyframes shine {
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.arrow::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  right: 10px;
  font-weight: 900;
  content: '\f054';
  @media only screen and (max-width: 480px) {
    right: 20px;
  }
}
.arrow-50::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  right: 10px;
  font-weight: 900;
  content: '\f054';
  top: 50%;
  transform: translateY(-50%);
  @media only screen and (max-width: 480px) {
    right: 20px;
  }
}
