/*カラーの設定*/
$black: #222222;
$white: #ffffff;
$blue: #0062ff;
$darkblue: #001e6c;
$lightblue: #bdecfc;
$red: #c11b21;
$yellow: #fff000;
$lightyellow: #fffef2;
$glay: #dee0e2;
$lightglay: #f7f9fa;
$orange: #ff5f00;
$pink: #e972b5;
$darkpink: #de508c;
$lightpink: #edbbd7;
$green: #65ba09;
$iherb: #458500;
$amazon: #f79256;
$rakuten: #f76956;
$yahoo: #66a7ff;
$official: #999999;
/*基本的な設定*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
html {
  font-family: "Noto Sans JP";
}
body {
  margin: 0;
  background-color: $white;
  color: $black;
  font-family: "Noto Sans JP";
  line-height: 1;
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased; //なめらかにする
  -moz-osx-font-smoothing: grayscale; //Firefoxなめらかにする
  -webkit-text-size-adjust: none; //縦横で自動調整をオフにする
}
.back-lightglay {
  background-color: $lightglay;
}
.div-nomal {
  margin: 0 10px 10px;
}
