/* -------------------------------
 *  file import (Foundation)
 * ---------------------------- */
@use "foundation/import";

/* -------------------------------
 *  file import (Layout)
 * ---------------------------- */
@use "layout/base";
@use "layout/header";
@use "layout/footer";
@use "layout/content";
@use "layout/module";

/* -------------------------------
 *  file import (Object_Component)
 * ---------------------------- */
@use "object/component/common";
@use "object/component/parts";

/* -------------------------------
 *  file import (Object_Project)
 * ---------------------------- */
@use "object/project/frontpage";
@use "object/project/page";
@use "object/project/contact";
@use "object/project/archive";
@use "object/project/single";
@use "object/project/tag";

/* -------------------------------
 *  file import (Object_Utility)
 * ---------------------------- */
@use "object/utility/text";
@use "object/utility/heading";
@use "object/utility/button";
@use "object/utility/list";
@use "object/utility/table";
@use "object/utility/form";
@use "object/utility/box";
@use "object/utility/margin";
@use "object/utility/padding";
@use "object/utility/item";
/*
Theme Name: bulkup-ver2
*/
.inner {
  max-width: 1260px;
  width: 100%;
  height: 106px;
  margin: 0 auto;
  z-index: 7000;
}
article {
  margin-top: 10px;
}
.home article {
  margin-top: 0px;
}
.single article {
  overflow-x: hidden;
}
.container {
  margin: 0 auto 50px;
  max-width: 720px;
  @media only screen and (max-width: 480px) {
    margin: 0 20px 50px;
  }
}
.page-main {
  text-align: center;
}
.main-waku {
  margin: 15px auto 50px;
  max-width: 1200px;
  @media only screen and (max-width: 480px) {
    width: auto;
  }
}
.none {
  display: none;
}
/*キャンペーンのバナーを全体に表示する*/
/* -------------------------------
 *  CSS variables
 * ---------------------------- */
:root {
  --su-color-bg-modal-overlay: rgb(0 0 0 / 50%);
  --su-size-blur-modal-overlay: 4px;
  --su-size-radius-modal: var(--su-size-5s);
  --su-size-space-outside-modal: var(--su-size-r);
  --su-color-separator-modal: var(--su-gray-color__mono--2);
}
/* -------------------------------
 *  icon
 * ---------------------------- */
.su-modal {
  margin: auto;
  box-shadow: 0 var(--su-shadow-elevation-offset-1) var(--su-shadow-elevation-blur-1)
    var(--su-shadow-elevation-spread-1) var(--su-shadow-elevation-color-1);
  border-radius: var(--su-size-radius-modal);
  max-width: calc(100% - calc(var(--su-size-space-outside-modal) * 2));
  max-height: calc(100% - calc(var(--su-size-space-outside-modal) * 2));
  overflow: visible;
  &[open] {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
  }
  &::backdrop {
    background: var(--su-color-bg-modal-overlay);
    -webkit-backdrop-filter: blur(var(--su-size-blur-modal-overlay));
    backdrop-filter: blur(var(--su-size-blur-modal-overlay));
  }
  &.su-modal-full {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .su-modal-header,
  .su-modal-content,
  .su-modal-footer {
    padding: 1em;
  }
  .su-modal-header {
    font-weight: bold;
  }
  .su-modal-footer {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .su-modal-content {
    overflow: auto;
    overscroll-behavior: contain;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--su-color-separator-modal);
  }
}
